.pb-ajax > div {
  width: 96%;
}

div.overlay-ajax {
  z-index: 101;
}

#blog-overlay {
  display: none;
} 

label.error {
  color:red;
} 

div.token-input-dropdown-facebook {
  z-index: 9999999;
}

div.idea {
  background: #333;
  border-radius: 10px;
  padding: 20px;
}

#content .idea a.summary:link, #content .idea a.summary:visited {
  color: red
}

#wizard .modal-footer {
  border-top: 0;
}

#wizard-tags .formHelp {
  display: none;
}

.wizard-tags-left {
  float: left;
  width: 400px;
  label {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
  }
}

.wizard-tags-right {
  float: right;
  width: 300px;
}

#wizard .alert {
  display: none;
}

.post-type {
  float: left;
  width: 150px;
  border: 1px solid #eee;
  text-align: center;
  border-radius: 4px;
  margin: 10px;
  margin-bottom: 20px;
  padding: 19px;
}

#post-type-img {
  display: none;
  float: right;
}
