// Collage Styles
#collage .featured-document  {
	@include minor-curl-effect;   
	background-color: #FCFDA6;
	
}  

div.collage_type_document.collage_view_standard {
	padding: 5px 10px;
	@include minor-curl-effect; 
	background-color: #FCF9E9;
}
// collective.collage.innerfade
#InnerfadeContainer {
	margin-top: -10px;  
	height: 433px;
}      

#InnerfadeNavigation  {
	border-right: none;
	img {
		border-bottom: solid 1px #fff;
		border-right: none;
		}
	div.ifnav {
		height: 109px;
		width: 189px;	 
	}
} 
           
#Innerfade {
	a.innerfade-button {
		visibility:hidden;
	}
	&:hover a.innerfade-button {
		visibility: visible;
	}
}
#Innerfade .caption, #Innerfade .overlay {
	bottom: 7px;
	padding: 0 10px 0 20px;
	p {	
		font: normal 12px $readable-font;
	}
	
}   

#Innerfade .title {
	margin: 5px; 
	padding: 0; 
	width: 100%;
	h2 {  
		padding: 5px;
		font: normal 24px/18px $global-nav-font;
	}  
   	 a.innerfade-button {
			float: right; 
			margin: 5px 10px 0 0;
			padding: 0 20px 0 0;
			background: transparent url('../images/green-arrow.png') no-repeat top right; 
			img {display: none;}
			&:hover span {
				color: $bright-highligh-text;
				}
		}  
}      

// Carousel
.carousel-pager {
	float: right;
	position: absolute; 
	right: 0px;
	top: 0px;
	margin: 0;
	background: none;
}

.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
  padding: 0.25em 0.5em;
  border-radius: 4px;
  background: transparent;
border-bottom: 1px solid #ddd;

}

.carousel-pager-item.carousel-pager-item-active {
  color: #04f626; 
@include select-arrow;
}

/* line 1029, ../sass/screen.scss */
.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active .carousel-title {
  color: black;
}
// EasySlider  
#slider-container {
//	@include border-radius(4px); 
	border: none;
	padding: 10px 10px 0px 10px; 
	@include minor-curl-effect;
	margin: 0 0 10px 0 !important;
	.no-boxshadow & {   
		@include box-shadow(#999 0px 4px 10px);
		behavior: url(++theme++plonetheme.healthlens/pie/PIE.htc);   
	}	
	
}
#easySlider-goToButtons {
//	@include subtle-button;
//	width: 50%;
//	margin-left: auto;
//	margin-right: auto;
//	border-top: dashed 1px #ddd;
	height: 20px;
	line-height: 0px;
	top: -20x; 
	padding: 0 0 0px 0;  	
	span a {color: #999;}
	a {
		@include border-radius(8px);
		font-size: 0px;
        background: #ddd;
		border: none;
		padding: 5px 5px; 
		margin: 0 3px 0 3px;
		border: {
			style: solid;
			width: 1px;
			top: {color:#999;} 
			left: {color:#999;}
			right: {color: #ddd;} 
			bottom: {color: #fff;} 
			}
		line-height: 0px;
				&.active {
					border: solid 1px #85B447;
//					@include box-shadow(yellow 0px 0px 10px);
					background: $bright-highligh-text;
		} 
		&:hover {
			background: red;
			color: transparent !important;
			}
		&:link {
			line-height: 0px;
			color: transparent;
		}; 		
	}	
	#pauseplay {
		top: 6px;
		
	} 
}     

// Innerfade

                     
// Content Well Portlets
.managePortletsAboveLink, 
.managePortletsBelowLink,
.manageFooterPortletsLink,
.manageInHeaderPortletsLink { text-align: center; margin: 0 auto 1em; clear:both;}

.portlet-manager-row .porlet-well_manager { width: 30%; float:left; margin:1%; }
.portlet-manager-row { width:100%; float:left; }


/* Define classes for 1/5ths and 1/6ths widths and positions. */
div.width-1\3a 5 { width:    17.75%; } /* .width-1:5 */
div.width-2\3a 5 { width:    37.75%; } /* .width-2:5 */
div.width-3\3a 5 { width:    57.75%; } /* .width-3:5 */
div.width-4\3a 5 { width:    77.75%; } /* .width-4:5 */
div.position-1\3a 5 {margin-left:    -78.875%;} /* .position-1:5 */
div.position-2\3a 5 {margin-left:    -58.875%;} /* .position-2:5 */
div.position-3\3a 5 {margin-left:    -38.875%;} /* .position-3:5 */
div.position-4\3a 5 {margin-left:    -18.875%;} /* .position-4:5 */

div.width-1\3a 6 { width:    14.416%; } /* .width-1:6 */
div.width-5\3a 6 { width:    81.083%; } /* .width-5:6 */
div.position-1\3a 6 {margin-left:    -82.208%;} /* .position-1:6 */
div.position-5\3a 6 {margin-left:    -15.542%;} /* .position-5:6 */
