/* line 17, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../sass/_typography.scss */
a:link, a:visited {
  color: #4584fc;
}

/* line 14, ../sass/_typography.scss */
a:hover, span:hover {
  color: #1040fb;
}

/* line 19, ../sass/_typography.scss */
#portal-personaltools.actionMenu {
  font-size: 80%;
  color: #1184fc;
}
/* line 24, ../sass/_typography.scss */
#portal-personaltools.actionMenu dd a:hover {
  color: black;
}

/* line 27, ../sass/_typography.scss */
#menu ul li a.menu-dropdown {
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  font-size: 2em;
  font-weight: 400;
  color: #fe7a1b;
  line-height: 1em;
}

/* line 33, ../sass/_typography.scss */
.navTreeItem a span {
  color: #999999;
}

/* line 38, ../sass/_typography.scss */
dl.portlet ul.navTree .navTreeCurrentItem span {
  color: #333333;
}

/* line 42, ../sass/_typography.scss */
.navTreeItem:hover > a span, .navTreeCurrentItem:hover span, a .navTreeCurrentItem:hover span {
  color: black;
}

/* line 10, ../sass/ie8-and-down.scss */
#portal-column-two {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dddddd), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #dddddd, #ffffff);
  background-image: -moz-linear-gradient(left, #dddddd, #ffffff);
  background-image: -o-linear-gradient(left, #dddddd, #ffffff);
  background-image: -ms-linear-gradient(left, #dddddd, #ffffff);
  background-image: linear-gradient(left, #dddddd, #ffffff);
}
