/* line 7, ../sass/ie8-and-down.scss */
#portal-column-two {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dddddd), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #dddddd, #ffffff);
  background-image: -moz-linear-gradient(left, #dddddd, #ffffff);
  background-image: -o-linear-gradient(left, #dddddd, #ffffff);
  background-image: -ms-linear-gradient(left, #dddddd, #ffffff);
  background-image: linear-gradient(left, #dddddd, #ffffff);
}
