/* @override 
	http://localhost:8080/Plone/++theme++plonetheme.healthlens/stylesheets/screen.css
	http://64.18.217.181:8902/Plone/++theme++plonetheme.healthlens/stylesheets/screen.css
	http://seminar.changecenter.org/++theme++plonetheme.healthlens/stylesheets/screen.css */


/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  background: #f5f5f5 url('../images/matt-pattern.jpg') repeat left top;
}

#light {
	background: transparent url('../images/vert-gradient.png') repeat-x left top;
	height: 100%;
	width: 100%;
	position: fixed;
}
/* line 22, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../sass/_typography.scss */
a:link, a:visited {
  color: #4584fc;
}

/* line 14, ../sass/_typography.scss */
a:hover, span:hover {
  color: #1040fb;
}

/* line 19, ../sass/_typography.scss */
#portal-personaltools.actionMenu {
  font-size: 80%;
  color: #1184fc;
}
/* line 24, ../sass/_typography.scss */
#portal-personaltools.actionMenu dd a:hover {
  color: black;
}

/* line 27, ../sass/_typography.scss */
#menu ul li a.menu-item {
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  font-size: 2em;
  font-weight: 400;
  color: #fe7a1b;
  line-height: 1em;
  font-size: 2em;
  padding: 22px 1em 0em;
  
}

/* line 34, ../sass/_typography.scss */
.navTreeItem a span {
  color: #999999;
}

/* line 39, ../sass/_typography.scss */
dl.portlet ul.navTree .navTreeCurrentItem span {
  color: #333333;
}

/* line 43, ../sass/_typography.scss */
.navTreeItem:hover > a span, .navTreeCurrentItem:hover span, a .navTreeCurrentItem:hover span {
  color: black;
}

/* line 46, ../sass/_typography.scss */
.blog-item h1 a {
  font-size: 2em;
}

/* line 50, ../sass/_typography.scss */
.blogItem .documentDescription {
  color: #666;
  margin-left: 0;
  font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}

/* @group Base Structure */

div.row {
  float: left;
  width: 960px;
  display: block;
  position: relative;
  margin-top: 10px;
}

/* line 25, ../sass/screen.scss */
div.cell {
  position: relative;
  float: left;
  left: 100%;
}

/* line 31, ../sass/screen.scss */
#head-ribbon {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, black 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, black 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #45484d 0%, #000000 100%);
  /* W3C */
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 65px;
  margin: 0 auto;
}

/* line 40, ../sass/screen.scss */
#head-wrapper {
  height: 65px;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  position: relative;
}

/* line 49, ../sass/screen.scss */
#logo-spacer {
  background: url(../images/seminar/logo.png) no-repeat left center;
  margin-right: auto;
  margin-left: auto;
  width: 36%;
  position: relative;
  float: left;
  height: 100%;
  z-index: 200;
}

/* line 58, ../sass/screen.scss */
#divider {
  -moz-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 15px;
  z-index: 100;
  position: fixed;
  top: 65px;
  background-color: #105afc;
  border-bottom: 2px solid #074ba7;
  border-top: 1px solid #447fd3;
}

/* line 70, ../sass/screen.scss */
#breadcrumbs {
  padding-left: 15px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* line 78, ../sass/screen.scss */
#page-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  position: relative;
  top: 80px;
}

/* line 86, ../sass/screen.scss */
#page {
  -moz-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottom: 10px;
  -webkit-border-bottom-radius: 10px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
}

/* line 95, ../sass/screen.scss */
#personal-tools {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 15px;
}

/* line 103, ../sass/screen.scss */
dl.actionMenu {
  float: right;
  white-space: nowrap;
  position: relative;
  margin-left: 0;
}

/* line 111, ../sass/screen.scss */
#portal-personaltools.actionMenu {
  border-bottom-radius: 4px;
  -moz-border-radius-bottom: 4px;
  -webkit-border-bottom-radius: 4px;
  -moz-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  float: right;
  border: 1px solid #7aaefc;
  padding: 5px 1em 6px;
}
/* line 119, ../sass/screen.scss */
#portal-personaltools.actionMenu dd {
  background-color: transparent;
}

/* line 122, ../sass/screen.scss */
dl.actionMenu.activated dd {
  border-bottom-radius: 4px;
  -moz-border-radius-bottom: 4px;
  -webkit-border-bottom-radius: 4px;
  position: relative;
  width: auto;
  min-width: 99%;
  border: none;
}

/* line 130, ../sass/screen.scss */
#portal-personaltools dd a:hover {
  background: #ebf1f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* W3C */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* line 134, ../sass/screen.scss */
#title-ribbon {
  background: #f9c667;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* W3C */
  -moz-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  width: 100%;
  position: relative;
  border-bottom: 1px solid #fea721;
  padding-top: 10px;
}

/* line 143, ../sass/screen.scss */
#content-area {
  position: relative;
  display: inline-block;
}

/* line 148, ../sass/screen.scss */
#foot-ribbon {
  background: #f9c667;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* W3C */
  -moz-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 60px;
  position: relative;
  border-top: 1px outset #fea721;
}

/* line 157, ../sass/screen.scss */
#foot-box {
  background: #4f85bb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4f85bb 1%, #005dba 73%, #00368e 97%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #4f85bb), color-stop(73%, #005dba), color-stop(97%, #00368e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4f85bb 1%, #005dba 73%, #00368e 97%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4f85bb 1%, #005dba 73%, #00368e 97%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #4f85bb 1%, #005dba 73%, #00368e 97%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#00368E',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #4f85bb 1%, #005dba 73%, #00368e 97%);
  /* W3C */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottom: 10px;
  -webkit-border-bottom-radius: 10px;
  -moz-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.6);
  height: 200px;
  position: relative;
  border: 1px solid #447fd3;
  width: 958px;
}

/* line 167, ../sass/screen.scss */
#foot-base {
  background: url(../images/foot-box.png);
  width: 100%;
  height: 180px;
  position: relative;
  top: -80px;
  z-index: 0;
}

/* @end */
/* @group Global Nav */
/* line 179, ../sass/screen.scss */
#menu {
  top: 0px;
  position: fixed;
  z-index: 100;
  float: left;
  padding-left: 350px;
  height: 65px;
}

/* line 185, ../sass/screen.scss */
#menu ul li a.menu-item {
}

/* line 189, ../sass/screen.scss */
#menu ul {
  float: left;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  position: relative;
  height: 100%;
}

/* line 198, ../sass/screen.scss */
#menu ul li a.menu-dropdown:hover, #menu li.top-level:hover, #portal-megamenu li.active a.menu-item {
  color: black;
   -moz-box-shadow: inset 0px 0px 5px 0px black;
  -webkit-box-shadow: inset 0px 0px 5px 0px black;
  box-shadow: inset 0px 0px 5px 0px black;
background: rgb(158,201,239); /* Old browsers */
background: -moz-linear-gradient(top, rgba(158,201,239,1) 0%, rgba(46,147,234,1) 33%, rgba(0,119,239,1) 35%, rgba(46,147,234,1) 78%, rgba(70,131,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,201,239,1)), color-stop(33%,rgba(46,147,234,1)), color-stop(35%,rgba(0,119,239,1)), color-stop(78%,rgba(46,147,234,1)), color-stop(100%,rgba(70,131,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(158,201,239,1) 0%,rgba(46,147,234,1) 33%,rgba(0,119,239,1) 35%,rgba(46,147,234,1) 78%,rgba(70,131,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(158,201,239,1) 0%,rgba(46,147,234,1) 33%,rgba(0,119,239,1) 35%,rgba(46,147,234,1) 78%,rgba(70,131,221,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(158,201,239,1) 0%,rgba(46,147,234,1) 33%,rgba(0,119,239,1) 35%,rgba(46,147,234,1) 78%,rgba(70,131,221,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec9ef', endColorstr='#4683dd',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(158,201,239,1) 0%,rgba(46,147,234,1) 33%,rgba(0,119,239,1) 35%,rgba(46,147,234,1) 78%,rgba(70,131,221,1) 100%); /* W3C */
}

/* line 213, ../sass/screen.scss */
#menu ul li a.menu-item {
  display: block;
  text-decoration: none;
  text-align: center;
  border-right: thin; solid #1C1D1F;
  border-left: thin solid #1C1D1F;
  background: none;
  z-index: 1000;
  
}

/* line 222, ../sass/screen.scss */
#menu ul li span.arrowDownAlternative {
  display: none;
}

/* @end */
/* @group Portlets */
/* line 232, ../sass/screen.scss */
#drawer .portletLogin {
  background: url("../images/post_it_blue.jpg") left top no-repeat;
  height: 338px;
}

/* line 238, ../sass/screen.scss */
#drawer .portletLogin .portletHeader,
#drawer .portletLogin .portletItem {
  width: 300px;
  margin: 0 auto;
  padding: 0 auto;
  border: 0;
  background: transparent;
  text-align: center;
}

/* line 247, ../sass/screen.scss */
#drawer .portletLogin .portletHeader {
  padding-top: 60px;
}

/* line 251, ../sass/screen.scss */
#drawer .portletLogin .portletHeader a {
  font-size: 2em;
}

/* @end */
/* @group Navigation */
/* line 263, ../sass/screen.scss */
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  padding: .5em 0em .5em 1em;
  border-bottom: 0.1em dotted #ddd;
  line-height: 2em;
  margin-right: -10px;
}

/* line 271, ../sass/screen.scss */
dl.portlet ul.navTree .navTreeCurrentItem, a.navTreeCurrentNode {
  background-color: white;
  padding: .5em 2em .5em 2em;
  text-align: left;
  border-left: 0;
  border-right: 0;
  margin-left: -10px;
  margin-right: -10px;
}

/* line 282, ../sass/screen.scss */
dl.portlet ul.navTree li.navTreeCurrentNode {
  background-color: transparent;
  margin-left: -22px;
  margin-right: 0px;
  padding: 0em 0em 0em 0em;
  border-bottom: none;
  border-top: none;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
}

/* line 292, ../sass/screen.scss */
dl.portlet ul.navTree li.navTreeItem {
  margin-bottom: 0;
}

/* line 297, ../sass/screen.scss */
dl.portlet ul.navTree li a {
  border: none;
  display: block;
  zoom: 1;
  color: #797979;
}

/* line 305, ../sass/screen.scss */
dl.portlet ul.navTree li:hover > a {
  color: #fffeff !important;
}

/* line 312, ../sass/screen.scss */
.navTreeItem:not(.navTreeCurrentItem:hover, a .navTreeCurrentItem:hover) {
  background: #ebf1f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* W3C */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
}

/* line 318, ../sass/screen.scss */
.navTreeItem:hover {
  background: #ebf1f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* W3C */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
}

/* @end */
/* @group portlet-columns */
/* line 329, ../sass/screen.scss */
#portal-column-one {
  position: realitive;
  z-index: 0;
}

/* line 334, ../sass/screen.scss */
#portal-column-content {
  -webkit-box-shadow: 10px 0px 15px -15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 0px 15px -15px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 0px 15px -15px rgba(0, 0, 0, 0.6);
  padding-right: 10px;
  min-height: 400px;
}

/* @end */
/* line 348, ../sass/screen.scss */
#page dl.portlet .portletHeader {
  border-top: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 2px;
  -moz-box-shadow: 0 2px 5px 0px #666666;
  -webkit-box-shadow: 0 2px 5px 0px #666666;
  box-shadow: 0 2px 5px 0px #666666;
  background: #cdeb8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(39%, #cdeb8e), color-stop(62%, #a5c956), color-stop(100%, #a5c956));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* W3C */
}

/* line 369, ../sass/screen.scss */
#page dl.portlet dd.portletItem,
#page dl.portlet dd.portletFooter,
#page dl.portletError dd {
  padding: 1em;
  border-bottom: none;
}

/* @end */
/* @group typography */
/* line 383, ../sass/screen.scss */
#content a:link,
dl.portlet a:link {
  color: #074ba7;
  border-bottom: none;
}

/* line 388, ../sass/screen.scss */
#content a:hover,
dl.portlet a:hover {
  color: #105afc !important;
}

/* line 392, ../sass/screen.scss */
#page-title {
  text-decoration: none;
  color: #000;
  font: 3em "futura-pt-1","futura-pt-2";
  padding: 0px 10px 0px;
  text-transform: capitalize;
  font-weight: 500;
}

/* line 401, ../sass/screen.scss */
#page-description {
  padding-left: 10px;
  padding-bottom: 5px;
  color: #784208;
  font: normal 1.25em/1em "futura-pt-1", "futura-pt-2", sans-serif;
}

/* line 411, ../sass/screen.scss */
h2 {
  font: 2em "futura-pt-1","futura-pt-2",sans-serif;
  color: #424242;
  font-weight: 500;
  padding-top: 10px;
}

/* line 418, ../sass/screen.scss */
p, li, span, a, a.tile {
  font: 1em/1.5em "dejarip-1", "dejarip-2", sans-serif;
  color: #424242;
}

/* line 424, ../sass/screen.scss */
#breadcrumbs {
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 1px;
}

/* line 430, ../sass/screen.scss */
#breadcrumbs span.breadcrumbSeparator {
  color: #000;
  padding-right: 1px;
  padding-left: 1px;
}

/* line 436, ../sass/screen.scss */
#breadcrumbs-you-are-here {
  color: #000;
}

/* line 440, ../sass/screen.scss */
#breadcrumbs span a {
  color: #000;
}

/* line 444, ../sass/screen.scss */
#breadcrumbs span #breadcrumbs-current {
  color: #000;
}

/* line 448, ../sass/screen.scss */
#breadcrumbs span a:hover {
  color: #42f627;
}

/* line 455, ../sass/screen.scss */
#content .pullquote {
  margin: 0 .5em 0.5em 0.5em;
  font: italic 2em "p22-fllw-eaglefeather-1","p22-fllw-eaglefeather-2";
  float: right;
  width: 35%;
  clear: right;
  color: #000;
  letter-spacing: 0em !important;
  padding: 20px;
  border: 1px solid #AFD7FF;
  -moz-box-shadow: 0 2px 8px 0px #999999;
  -webkit-box-shadow: 0 2px 8px 0px #999999;
  box-shadow: 0 2px 8px 0px #999999;
  background: #afd7ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd7ff), color-stop(100%, #7aaefc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afd7ff', endColorstr='#7aaefc',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* W3C */
}

/* @end */

/* @group Surveys */

#edit_form h2.questionTitle label {
	font: normal 1em "futura-pt-1","futura-pt-2",sans-serif;
	color: #424242;

}

/* @end */


/* @group Shadows */
/* line 482, ../sass/screen.scss */
.big-shadow {
  -moz-box-shadow: 0 3px 20px 0px #000;
  -webkit-box-shadow: 0 3px 20px 0px #000;
  box-shadow: 0 3px 20px 0px #000;
}

/* line 488, ../sass/screen.scss */
.small-shadow {
  -moz-box-shadow: 0 2px 8px 0px #000;
  -webkit-box-shadow: 0 2px 8px 0px #000;
  box-shadow: 0 2px 8px 0px #000;
}

/* line 494, ../sass/screen.scss */
.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* line 499, ../sass/screen.scss */
.bottom-rounded {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 509, ../sass/screen.scss */
.top-rounded {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* @end */
/* @group Gradients */
/* line 524, ../sass/screen.scss */
.black-button-gradient {
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(8%, #595959), color-stop(17%, #666666), color-stop(70%, black), color-stop(100%, #131313));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, #000000 70%, #131313 100%);
  /* W3C */
}

/* line 535, ../sass/screen.scss */
.blue-button-gradient {
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(59%, #2989d8), color-stop(61%, #207cca), color-stop(100%, #8ebfe5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E5799', endColorstr='#8EBFE5',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* W3C */
}

/* line 546, ../sass/screen.scss */
.green-button-gradient {
  background: #bfd255;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* W3C */
}

/* line 557, ../sass/screen.scss */
.light-blue-gradient {
  background: #f2f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f5f6), color-stop(37%, #e3eaed), color-stop(100%, #c8d7dc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* W3C */
}

/* line 568, ../sass/screen.scss */
.light-green-gradient {
  background: #cdeb8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* W3C */
}

/* line 579, ../sass/screen.scss */
.dark-gradient {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, black 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, black 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #45484d 0%, #000000 100%);
  /* W3C */
}

/* line 590, ../sass/screen.scss */
.dark-gradient-reverse {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, black 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, black 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #45484d 0%, #000000 100%);
  /* W3C */
}

/* line 601, ../sass/screen.scss */
.head-gradient {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, black), color-stop(76%, #282828), color-stop(76%, #494949), color-stop(78%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #000000 46%, #282828 76%, #494949 76%, #000000 78%);
  /* W3C */
}

/* line 614, ../sass/screen.scss */
.orange-gradient {
  background: #fceabb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceabb), color-stop(50%, #fccd4d), color-stop(82%, #f8b500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb', endColorstr='#f8b500',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* W3C */
}

/* @end */
/* @group MegaMenu */
/* Menu rendering */
/* line 629, ../sass/screen.scss */
#collage ul.megamenu {
  /* To prevent margin-left in collage compose view */
  margin-left: 0;
  padding-left: 0;
}

/* line 635, ../sass/screen.scss */
#portal-megamenu {
  /* From Sunburst public.css: #portal-globalnav */
  margin: 0 0 0 0;
  float: left;
  width: 100%;
  list-style: none;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

/* line 643, ../sass/screen.scss */
#portal-megamenu li.top-level {
  float: left;
  position: relative;
  z-index: 500;
  height: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* line 650, ../sass/screen.scss */
#portal-megamenu li a.menu-item {
  float: left;
}

/* line 654, ../sass/screen.scss */
#portal-megamenu li.top-level .sub {
  position: absolute;
  left: 0;
  float: left;
  display: none;
  z-index: 500;
  background: none;
}

/* line 663, ../sass/screen.scss */
#portal-megamenu li .collage-row {
  clear: both;
  float: left;
  width: 100%;
}

/* Reset width to auto for nested rows */
/* line 670, ../sass/screen.scss */
#portal-megamenu li .menu_view_nested-menu .collage-row {
  width: auto;
}

/* line 674, ../sass/screen.scss */
#portal-megamenu .sub ul {
  list-style: none;
  float: left;
  width: 100%;
}

/* line 681, ../sass/screen.scss */
#portal-megamenu .sub ul li {
  width: 100%;
  z-index: 500;
}

/* line 685, ../sass/screen.scss */
#portal-megamenu .sub ul li span {
  display: block;
  white-space: nowrap;
}

/* line 690, ../sass/screen.scss */
#portal-megamenu .sub ul li a {
  float: none;
  height: auto;
  display: block;
  white-space: nowrap;
  text-indent: 10px;
}

#portal-megamenu .sub div.plain p {
  color: #fe7a1b;
  padding: 5px 0 0px 0px;
}
/* End Menu rendering */
/* Content layout */
/* line 701, ../sass/screen.scss */
#portal-megamenu ul li .megamenu-title {
  margin-bottom: 1em;
}

/* line 705, ../sass/screen.scss */
#portal-megamenu ul li .megamenu-content a {
  font-weight: bold;
  padding: 0;
  display: inline;
  white-space: normal;
}

/* line 711, ../sass/screen.scss */
#portal-megamenu ul li .megamenu-content a:hover {
  background: transparent;
  color: #205c90;
  text-decoration: underline;
}

/* line 717, ../sass/screen.scss */
#portal-megamenu ul li .megamenu-content p {
  color: black;
}

/* End Content layout */
/* Menu styling for Sunburst theme */
/* line 726, ../sass/screen.scss */
.actionicon-object_buttons-megamenu-enable,
.actionicon-object_buttons-megamenu-disable {
  border-top: 2px solid white;
}

/* line 730, ../sass/screen.scss */
#portal-megamenu {
  font-size: 80%;
  background: none;
}

/* line 735, ../sass/screen.scss */
#portal-megamenu li a.menu-item {
  height: 41px;
  background: none;
  border-right: none;
  min-width: 0em;
}

/* line 744, ../sass/screen.scss */
#portal-megamenu li a.menu-item:hover {
  background: none;
}

/* line 748, ../sass/screen.scss */
#portal-megamenu li.top-level .subShadow {
  visibility: hidden;
  top: 77px;
  background: black;
  /* subShadow has 0.6 opacity when displayed */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* Add or change padding/margin move padding to re-place shadow box:
   * - for right-bottom shadow add bottom padding and left margin
   * - for left-bottom shadow add bottom padding and left negative margin
   * - for left-right-bottom shadow, add bottom padding, left negative margin and double right padding
   */
  padding: 0 0 2px 0;
  margin: 0 0 0 2px;
}

/* line 764, ../sass/screen.scss */
#portal-megamenu li.top-level .sub {
  top: 80px;
  padding: 5px 10px 0px 10px;
  border: none;
  border-left: 2px solid #0c7fd3;
  border-right: 2px solid #0c7fd3;
  border-bottom: 2px solid #0c7fd3;
  /*for old browsers*/
  background: black;
  /*-- rounded corner--*/
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*--Shadow--*/
  -moz-box-shadow: 0 5px 20px 0px #000;
  -webkit-box-shadow: 0 5px 20px 0px #000;
  box-shadow: 0 0px 20px 0px #000;
  /*--Gradient--*/
  background: -moz-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(35, 35, 35, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#cc232323',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #000000 0%, rgba(35, 35, 35, 0.8) 100%);
  /* W3C */
}

/* line 795, ../sass/screen.scss */
#portal-megamenu li .collage-row {
  margin: 0 auto 10px;
}

/* line 800, ../sass/screen.scss */
#portal-megamenu li .collage-megamenu-hlines,
#portal-megamenu li .collage-megamenu-hvlines {
  border-bottom: 1px solid #ddd;
}

/* line 804, ../sass/screen.scss */
#portal-megamenu .sub ul {
  margin: 0 10px 10px 0;
  padding: 0;
}

/* line 810, ../sass/screen.scss */
#portal-megamenu .sub .collage-megamenu-vlines > ul,
#portal-megamenu .sub .collage-megamenu-hvlines > ul {
  border-left: 1px solid #ddd;
  margin-left: -10px;
  padding-left: 10px;
}

/* line 817, ../sass/screen.scss */
#portal-megamenu .sub .collage-megamenu-vlines > ul.collage-first-object,
#portal-megamenu .sub .collage-megamenu-hvlines > ul.collage-first-object {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

/* line 823, ../sass/screen.scss */
#portal-megamenu .sub ul li {
  color: #76797c;
}

/* MM Collage Page Title */
/* line 827, ../sass/screen.scss */
#portal-megamenu .sub ul li h2 {
  padding: 0;
  margin: 0;
  font: 1.75em "futura-pt-1","futura-pt-2",sans-serif;
  width: 100%;
  color: #fea721;
  white-space: normal;
}

/* MM Collage Page Description */
/* line 836, ../sass/screen.scss */
#portal-megamenu .sub ul li p.description {
  padding: 0;
}

/* line 839, ../sass/screen.scss */
#portal-megamenu .sub ul li p.description span, #portal-megamenu .sub ul li p {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #d5d5d5;
  font-family: 1em "futura-pt-1","futura-pt-2",sans-serif;
  font-style: italic;
  font-weight: normal;
}

/* MM Page Text w/Link */
/* line 850, ../sass/screen.scss */
#portal-megamenu .sub div.plain p a {
  padding: 0;
  color: #fff;
  width: 85%;
  text-decoration: none;
}

#portal-megamenu .sub div.plain h2 a {
  padding: 0;
  color: #fff;
  width: 85%;
  text-decoration: none;
}

/* line 857, ../sass/screen.scss */
#portal-megamenu .sub ul li a.collage-megamenu-highlight {
  font-weight: bold;
}

/* line 861, ../sass/screen.scss */
#portal-megamenu .sub ul li a:hover {
  color: #000;
  width: 100%;
  /*-- rounded corner--*/
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-bottom: 4px;
  /*-- gradient--*/
  background: #cdeb8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(39%, #cdeb8e), color-stop(62%, #a5c956), color-stop(100%, #a5c956));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* W3C */
}

/* line 878, ../sass/screen.scss */
#portal-megamenu .sub li.selected a {
  background: #ddd;
}

/* @group Page Slide */
/* line 883, ../sass/screen.scss */


/* line 892, ../sass/screen.scss */
#drawer_tab {
  cursor: pointer;
  height: 140px;
  overflow: hidden;
  position: fixed;
  text-indent: -5000px;
  top: 40%;
  width: 90px;
  z-index: 100;
  display: none;
background: transparent url('../images/binderClip.png') no-repeat left center;
left: 0;
margin-left: -24px;
}

#drawer_tab:hover {
	background: transparent url('../images/binderClipRollover.png') no-repeat left center;
	
}
/* line 917, ../sass/screen.scss */


/* line 924, ../sass/screen.scss */

/* line 954, ../sass/screen.scss */


/* @end */
/* End Menu styling for Sunburst theme */
/* @end */
/* @group Carousel */
/* line 973, ../sass/screen.scss */
.carousel {
  margin: none;
  position: relative;
}

/* line 978, ../sass/screen.scss */
.carousel-text {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#99000000',GradientType=1 );
  /* IE6-9 */
  background: linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* W3C */
}

/* line 988, ../sass/screen.scss */
.carousel-title {
  font: 2em "p22-fllw-eaglefeather-1","p22-fllw-eaglefeather-2";
  color: #fffeff;
}

/* line 993, ../sass/screen.scss */
.carousel-body p {
  color: #a9a9a9;
}

/* line 997, ../sass/screen.scss */
.carousel-pager {
  position: relative;
  float: right;
  margin-right: 2em;
  bottom: 55px;
}

/* line 1006, ../sass/screen.scss */
a.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
  color: #447fd3;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 2px;
  background: transparent;
  border: 2px solid #447fd3;
}

/* line 1017, ../sass/screen.scss */
a.carousel-pager-item.carousel-pager-item-active {
  color: #04f626;
  border: 2px solid #04f626;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 2px;
}

/* line 1029, ../sass/screen.scss */
.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active .carousel-title {
  color: black;
}

/* @end */


/* @group LiveSearch */
/* line 1035, ../sass/screen.scss */
.LSResult {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  position: absolute;
  background: white;
  margin: 0px;
  width: 320px;
}

/* @end */




/* @group Drawr */

#drawer {
  background: url(../images/corkboard.jpg) repeat-y right;
  position: fixed;
  width: 350px;
  left: -350px;
  top: 80px;
  bottom: 0px;
  border-right: 1px solid #6d6969;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Put the scrollbar on the left? */
  direction:rtl;  /* Right To left */ 
  text-align:left; /* Override direction */
}

#panes {
	position: relative;
	padding-top: 20px;
}

#drawer_nav {
	height: 40px;
	width: 100%;
	position: relative;
	padding: 0 0 5px 0;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: -10px 0px 20px black;
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
		
		
	border-bottom: 1px dashed gray;
}

#drawer_nav ul {
  width: 100%;
  height: 100%;
  padding: 0 0 5px 5px;
}

/* line 929, ../sass/screen.scss */
#drawer_nav li {
  float: left;
  width: 24%;
  height: 40px;
  list-style-type: none;
  border-right: thin solid white;
  border-left: thin solid white;
  margin-right: auto;
  margin-left: auto;
}

/* line 939, ../sass/screen.scss */


/* line 950, ../sass/screen.scss */
#drawer_nav a.current {
	height: 50px;
	-moz-box-shadow: 0px 0px 7px 0 black;
	-webkit-box-shadow: 0px 0px 7px 0 black;
	box-shadow:  0px 0px 7px 0 black;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: rgb(243,197,189); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C */
	overflow: visible;
	color: yellow;
	text-transform: uppercase;
}

#drawer_nav a.current img {
	margin-bottom: -10px;
}
#drawer_nav ul li {
}

#drawer_nav a {
height: 30px;
  color: black;
  position: relative;
  text-decoration: none;
  font-family: 1em "futura-pt-1","futura-pt-2",sans-serif;
  padding: 7px 5px 5px 5px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
}

#drawer dl.portlet dt {
	background: url('../images/pushpin.png') no-repeat 50% top transparent;
	min-height: 40px;
}

/* @end */

/* @group Effects */

/* @group Page Curl */
#drawer dl.portlet {
   position:relative;
   width:90%;
   background: rgb(254,252,234); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera11.10+ */
   background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
   background: linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
}

#drawer dl.portlet:before,
#drawer dl.portlet:after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
   max-width:300px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
   -moz-transform:rotate(-3deg);
   -o-transform:rotate(-3deg);
   transform:rotate(-3deg);
}

#drawer dl.portlet:after{
   right:10px;
   left:auto;
   -webkit-transform:rotate(3deg);
   -moz-transform:rotate(3deg);
   -o-transform:rotate(3deg);
   transform:rotate(3deg);
 }
/* @end */

/* @group Speech Bubbles */
/* THE SPEECH BUBBLE --------------------------------------- */
div.member .tooltip {
	display:none;
	text-align:left;
	font-size: 12px;
	z-index: 100001;
	
	position:relative;
	padding:15px;
	margin: 1em 0 3em 50px;
	border:2px solid #0c7fd3;
/*	color:#333;*/
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	
	border-left: 2px solid #0c7fd3;
	border-right: 2px solid #0c7fd3;
	border-bottom: 2px solid #0c7fd3;
	/*for old browsers*/
	background: black;
	/*--Shadow--*/
	-moz-box-shadow: 0 5px 20px 0px #000;
	-webkit-box-shadow: 0 5px 20px 0px #000;
	box-shadow: 0 0px 20px 0px #000;
	/*--Gradient--*/
	background: -moz-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(35, 35, 35, 0.8)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
	/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#cc232323',GradientType=0 );
	/* IE6-9 */
	background: linear-gradient(top, #000000 0%, rgba(35, 35, 35, 0.8) 100%);
	/* W3C */
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */
/* Variant : left
------------------------------------------ */

/* creates the larger triangle */

div.member .tooltip:before {
	content:"";
	position:absolute;
	top:20px; /* controls vertical position */
	bottom:auto;
	left:-20px; /* value = - border-left-width - border-right-width */
	border-width:10px 20px 10px 0;
	border-style:solid;
	border-color:transparent #0c7fd3;
    /* reduce the damage in FF3.0 */
/*    display:block; */
    width:0;
}

/* creates the smaller  triangle */
div.member .tooltip:after {
	content:"";
	position:absolute;
	top:20px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-20px; /* value = - border-left-width - border-right-width */
	border-width:10px 20px 10px 0;
	border-style:solid;
	border-color: transparent;
    /* reduce the damage in FF3.0 */
/*    display:block; */
    width:0;
}


/* @end */
/* @end */

