/* @override http://localhost:8080/Plone/++theme++plonetheme.healthlens/css/styles.css */

body {
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	background: url(../images/matt-pattern.jpg) left top;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

div.row {
	float: left;
	width: 960px;
	display: block;
	position: relative;
	margin-top: 10px;
}

div.cell {
	position: relative;
	float: left;
	left: 100%;
}

#head-ribbon {
	z-index: 100;
	position: relative;
	border-bottom: 6px solid #0c7fd3;
	padding-top: 5px;
}

#head-spacer {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	height: 110px;
	position: relative;
	top: 5px;
}

#light {
	height: 600px;
	background: url(../images/vert-gradient.png) repeat-x;
	width: 100%;
	position: absolute;
	z-index: 0;
}

#wrap960 {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	position: relative;
}

#float-box {
	width: 100%;
	background-color: #fffeff;
	position: relative;
	z-index: 50;
}



#page-cap {
	width: 100%;
	height: 25px;
	z-index: 100;
	border-top: 1px solid #797979;
	position: relative;
}

#breadcrumbs {
	position: absolute;
	padding-left: 15px;
}

#portal-personaltools {
	background: inherit;
}

#portal-personaltools dd {
	background-color: rgba(0,0,0,0.6);
}

#title-ribbon {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #d5d5d5;
}

#canvas {
	position: relative;
	display: inline-block;
}

#foot-ribbon {
	width: 100%;
	height: 60px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px outset #d5d5d5;
}

#foot-box {
	height: 200px;
	position: relative;
	border: 1px solid #447fd3;
	width: 958px;
}

#foot-base {
	background: url(../images/foot-box.png);
	width: 100%;
	height: 180px;
	position: relative;
	top: -80px;
	z-index: 0;
}

/* @group Portlets */

/* @group Navigation */
li.navTreeItem {
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
	border-bottom: none;
    border-top: 0.1em solid #eaeaea;
    line-height: 2em;
	padding: 2px 1em 0;
}

dl.portlet ul.navTree .navTreeCurrentItem {
    border-left: none;
    margin-left: -1em;
    margin-right: -1em;
	padding-left: 1em;
	color: #034678;
	
}

dl.portlet ul.navTree li a {
    border: none;
    display: block;
    zoom: 1;
    color: #797979;

}

dl.portlet ul.navTree li:hover > a {
	color: #fffeff !important;
}

.navTreeCurrentItem {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C */
}

.navTreeItem:hover, .navTreeCurrentItem:hover, a .navTreeCurrentItem:hover {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
}
/* @end */

/* @group Portal-Column-Two */

#portal-column-two {
	padding-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#portal-column-two {
background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(left, #eaeaea 0%, #fffcfc 4%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eaeaea), color-stop(4%,#fffcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #eaeaea 0%,#fffcfc 4%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #eaeaea 0%,#fffcfc 4%); /* Opera11.10+ */
background: -ms-linear-gradient(left, #eaeaea 0%,#fffcfc 4%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, #eaeaea 0%,#fffcfc 4%); /* W3C */
}



/* @end */

/* @group Portal-Column-One */

#portal-column-one {
	padding-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#portal-column-one {
background: #fffcfc; /* Old browsers */
background: -moz-linear-gradient(left, #fffcfc 96%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(96%,#fffcfc), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #fffcfc 96%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #fffcfc 96%,#eaeaea 100%); /* Opera11.10+ */
background: -ms-linear-gradient(left, #fffcfc 96%,#eaeaea 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, #fffcfc 96%,#eaeaea 100%); /* W3C */
}



/* @end */

.portletWrapper {
		

}

dl.portlet .portletHeader {
	border-top: 1px solid #eaeaea;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 2px;
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
}

dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
    padding: 1em;
	border-bottom: 1px solid #eaeaea;
}


/* @end */



/* @group typography */
#content a:link,
dl.portlet a:link {
    color: #205c90;
    border-bottom: none;
}
#content a:hover,
dl.portlet a:hover {
    color: #75ad0a !important; /* This one gets an !important because it should always activate in the content area, even when state coloring is active */
}
#page-title {
	text-decoration: none;
	color: #000;
	padding: 10px 10px 5px;
	font: normal 2em/1 "Lucida Grande", Lucida, Verdana, sans-serif;
}

#page-description {
	padding-left: 10px;
	padding-bottom: 5px;
	line-height: 1em;
	font-size: 1em;
	color: #424242;
}

#breadcrumbs {
	line-height: 1.5em;
	color: #797979;
	font-size: 1em;
}

#breadcrumbs-you-are-here {
	color: #797979;
}

#breadcrumbs span a {
	color: #a9a9a9;
}

#breadcrumbs span a:hover {
	color: #fed127;
}

#portal-personaltools.actionMenu.deactivated dt a{
	color: #fe7a1b;
}
#portal-personaltools.actionMenu.activated dt a{
	color: #05f74c;
}
#portal-personaltools dd a {
	color: #fffeff;
}

/* @end */



/* @group Shadows */

.big-shadow {	
	-moz-box-shadow: 0 3px 20px 0px #000;
	-webkit-box-shadow: 0 3px 20px 0px #000;
	box-shadow: 0 3px 20px 0px #000;
}

.small-shadow {	
	-moz-box-shadow: 0 2px 8px 0px #000;
	-webkit-box-shadow: 0 2px 8px 0px #000;
	box-shadow: 0 2px 8px 0px #000;
}

.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.bottom-rounded {
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
  
}

.top-rounded {
-webkit-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
  
}

/* @end */

/* @group Global Nav */
#menu {
	z-index: 500;
	height: 45px;
}

#menu ul {
	float: left;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#menu li {
	float: left;
	height: 49px;
}

#menu li:hover {
	-moz-border-radius: 28px;
  	-webkit-border-radius: 28px;
  	z-index: 500;
	-moz-box-shadow: 0 0px 20px 0px #000;
	-webkit-box-shadow: 0 0px 20px 0px #000;
	box-shadow: 0 0px 20px 0px #000;
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
}

#menu a {
	display: block;
	width: 120px;
	height: 40px;
	padding-top: 13px;
	text-decoration: none;
	text-align: center;
	color: #fed14d;
	border: none;
	font: normal 18px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#menu a:hover, #menu .selected a:hover {
	text-decoration: none;
	color: #000;
}

#menu .selected a {
	padding-left: 0;
	color: #fe7a1b;
}

/* @end */


/* @group Gradients */

.black-button-gradient {
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, #000000 70%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(8%,#595959), color-stop(17%,#666666), color-stop(70%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* W3C */
}

.blue-button-gradient {
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(59%,#2989d8), color-stop(61%,#207cca), color-stop(100%,#8ebfe5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E5799', endColorstr='#8EBFE5',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* W3C */
}

.green-button-gradient {
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
}

.light-blue-gradient {
background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
}

.light-green-gradient {
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
}

.dark-gradient {
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
}

.dark-gradient-reverse {
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
}

.head-gradient {
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top, #000000 46%, #282828 76%, #494949 76%, #000000 78%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,#000000), color-stop(76%,#282828), color-stop(76%,#494949), color-stop(78%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* W3C */
}

.foot-gradient {
background: #4f85bb; /* Old browsers */
background: -moz-linear-gradient(top, #4f85bb 1%, #005dba 73%, #00368e 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4f85bb), color-stop(73%,#005dba), color-stop(97%,#00368e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4f85bb 1%,#005dba 73%,#00368e 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4f85bb 1%,#005dba 73%,#00368e 97%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #4f85bb 1%,#005dba 73%,#00368e 97%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#00368E',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #4f85bb 1%,#005dba 73%,#00368e 97%); /* W3C */
}

.title-gradient {
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* W3C */
}

.orange-gradient {
background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(82%,#f8b500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f8b500',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* W3C */
}
/* @end */


