
$label-size: 80%;

//Color Assignments
$personal-tools-color: $bright-text-color;




a:link, a:visited {
	color: $link-color;
}

a:hover, span:hover {
	color: $link-hover-color;
}


#portal-personaltools.actionMenu {
    font-size: $label-size;
	color: $personal-tools-color;
 	dt a { &:link {}; &:visited {};}
	dd ul li {}
	dd a:hover {color: $hover-invert-color;}
}

#menu ul li a.menu-dropdown {
	@include title-script;
	color: $menu-title-color;
	line-height: 1em;
	font-size: $global-nav-size;
}

.navTreeItem a span {
	color: #999999;
	
}

dl.portlet ul.navTree .navTreeCurrentItem span {
	color: #333333;
}
.navTreeItem:hover > a, .navTreeCurrentItem:hover, a .navTreeCurrentItem:hover{
	span {color: $hover-invert-color;}
}

.blog-item h1 a {
  font-size: 2em;
}

.blogItem .documentDescription {
    color: #666;
    margin-left: 0;
    font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}
