// This import applies a global reset to any page that imports this stylesheet.
//@import "blueprint/reset";    

// Import all the default blueprint modules so that we can access their mixins.
@import "compass/reset";
//@import "blueprint";
@import "compass/css3";
@import "compass/css3/shared"; 
@import "compass/utilities";
@import "compass/css3/transform-legacy";   
@import "compass/support";


// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";
@import "partials/skin";  
@import "partials/effects";
@import "partials/old_css";
@import "partials/typography";
@import "partials/cleanup";
@import "partials/plone-products";
@import "partials/cloudspring_members"; 

// Import the non-default scaffolding module
@import "blueprint/scaffolding";

// Generate the blueprint framework according to your configuration:
//@include blueprint;
//@include blueprint-scaffolding;  

// Body
body {
	background: #f5f5f5 url('../images/matt-pattern.jpg') repeat left top;
}          

#light {
	background: transparent url('../images/vert-gradient.png') repeat-x left top;
	height: 100%;
	width: 100%;
	position: fixed;
}

// Header Ribbon
#head-ribbon {   
	@include head-ribbon-gradient;
	z-index: 100;
	position: fixed;
	width: 100%;
	height: $ribbon-height;
	margin: 0 auto;
}

#head-wrapper {
	height: 65px;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	position: relative;  
}

// Logo
#logo-spacer {
	@include logo_image;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	float: left;
	height: 100%;
	z-index: 200;  
}
                      

// MegaMenu 

#home  {
	height: $ribbon-height;
	width: 60px;
	display: inline-block;
	text-align: center;
	border-left: thin solid #1C1D1F;
	z-index: 1000;
	position: relative;
	float: right;
}    

#home div:hover { 
	background: url('../images/Icons/power-black.png') no-repeat center center;
}

#home div { 
	background: url('../images/Icons/power-green.png') no-repeat center center;
	height:100%;
	width: 100%;
	padding: 8px 0 0 0;
}
                                                                                
#menu {
	right: 0px;
	position: relative;
	z-index: 100;
	float: right;  
	display: inline-block;
	  
}        

#menu ul li a.menu-dropdown:hover, #menu li.top-level:hover, #portal-megamenu li.active a.menu-item, #home:hover {
	color: black;
	-moz-box-shadow: inset 0px 0px 5px 0px black;
	-webkit-box-shadow: inset 0px 0px 5px 0px black;
	box-shadow: inset 0px 0px 5px 0px black;  
	@include menu-rollover-gradient;    
}

#menu ul li a.menu-item, ul.home li a {
	display: block;
	text-decoration: none;
	text-align: center;
	border-left: thin solid #1C1D1F;
	background: none;
	z-index: 1000;   
}

#menu ul li.top-level-last a.menu-item {
	border-right: thin solid #1C1D1F;
}   

#menu ul li span.arrowDownAlternative {
	display: none;
}
        
#collage ul.megamenu {
	/* To prevent margin-left in collage compose view */
	margin-left: 0;
	padding-left: 0; 
}

#portal-megamenu {
	/* Global Level*/
	margin: 0 0 0 0;
	float: left;
	list-style: none;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0; 
}



#portal-megamenu li .collage-row {
	clear: both;
	float: left;
	width: 100%; 
	padding: 0;  
}

/* Reset width to auto for nested rows */
#portal-megamenu li .menu_view_nested-menu .collage-row {
	width: auto;
}

#portal-megamenu .sub ul {
	list-style: none;
	float: left;
	width: 100%;
	padding: 0 0 10px 0;
	margin: 0 10px 0 0;   
}


#portal-megamenu .sub ul li {
	width: 100%;
}

#portal-megamenu .sub ul li span {
	display: block;
	white-space: nowrap;
}

#portal-megamenu .sub ul li a {
	float: none;
	height: auto;
	display: block;
	white-space: nowrap;
	text-indent: 0px;
}

/* Menu styling for Sunburst theme */
.actionicon-object_buttons-megamenu-enable,
.actionicon-object_buttons-megamenu-disable {
	border-top: 2px solid white;
  
}

#portal-megamenu li a.menu-item {
	height: $ribbon-height - 22px;
	background: none;
	border-right: none;
	min-width: 0em;
}

#portal-megamenu li.top-level .subShadow {
	visibility: hidden;
}

#portal-megamenu li.top-level .sub {
	top: $ribbon-height;
	padding: 10px 10px 5px 20px;
	border: 2px solid $border-highlight-color;
	@include border-radius(5px);
	@include box-shadow(black 0px 2px 10px);   
	@include megamenu-gradient;    
}   

#portal-megamenu .sub .collage-megamenu-vlines > ul,
#portal-megamenu .sub .collage-megamenu-hvlines > ul {
	border-left: 1px solid #ddd;
	margin-left: -10px;
	padding-left: 10px;
}

#portal-megamenu .sub .collage-megamenu-vlines > ul.collage-first-object,
#portal-megamenu .sub .collage-megamenu-hvlines > ul.collage-first-object {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#portal-megamenu .sub ul li a:hover { 
	color: $bright-highligh-text;
	width: 100%;
	@include select-arrow;
	@include border-radius(2px);  
	background-color: transparent;
}

#portal-megamenu .sub li.selected a {
	background: transparent;
	@include select-arrow;
}       

// Personal Bar 
$personal-bar-height: 20px;
 
#divider {
	@include box-shadow(black 0 2px 10px);
	width: 100%;
	height: $personal-bar-height;
	z-index: 2;
	position: fixed;
	top: $ribbon-height;
	background-color: $muted-accent;
	border-bottom: 2px solid $muted-accent-shadow;
	border-top: 2px solid $muted-accent-highlight;  
	
//	background-color: #AE0000;
//	border-top: 1px solid #ddd;
//	border-top: 2px solid #ddd;
//	background:url('../images/temp/brushed-metal-bar.jpg') ;
//	@include background-image(linear-gradient(top, #666, #ddd 35%, #333));
	
}

#personal-tools {
	width: 960px;  
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 0px;   
}

#portal-personaltools {
	z-index: 1; 
	top: 0px;   
	height: $personal-bar-height;  
} 

#portal-personaltools #personaltools-login {
	background: transparent  url('../images/Icons/Lock-black-16.png') no-repeat left 0px; 
	padding: 0 0 0 20px; 
	&:hover {
		background: transparent  url('../images/Icons/Lock-white-16.png') no-repeat left 0px; 
	};
}   
#portal-personaltools dt.actionMenuHeader a {
	background: transparent url('../images/Icons/Unlock-black-16.png')  no-repeat left 0px; 
	padding: 0 0 0 20px; 
}  

#portal-personaltools.activated dt.actionMenuHeader a {
	background: transparent url('../images/Icons/Unlock-white-16.png')  no-repeat left 0px; 
}


#portal-personaltools.actionMenu { 
	height: 100%;  
	background: none;
	position: relative;   
	@include border-radius(0px);
	padding: 2px 5px 0 5px;   
}   


#portal-personaltools dd.actionMenuContent {
	margin-top: 2px;
	padding: 0px 0px 5px 2px;
	@include box-shadow(black 0px 2px 10px);   
	@include megamenu-gradient;    
}

dl.actionMenu.activated dd {
	@include border-bottom-radius(4px);
	position: relative;
	width: auto;
	min-width: 99%;
	border: none;   
}

#portal-personaltools dd a:hover {  
	background: transparent;
}
                                   
// Page 
#page-wrapper {      
	@include curl-effect;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	position: relative;
	top: 80px;
	display: block;  
}

#page {    
	@include box-shadow(black 0 5px 10px);
	width: 100%;
	background-color: white;
	position: relative;
	z-index: 1;
}
             
#content {
	margin: 0 3px 0 3px;
}                   

#portal-columns {
	padding-top: 10px;
}
#colophon {
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	top: 80px;
}        
// Content
#title-ribbon { 
	@include background-image(linear-gradient(top, #000 65%, #444));
//   	@include box-shadow(#333 0 0px 5px);
	border-left: solid 3px #fff;
	border-right: solid 3px #fff;
	
	@include border-bottom-radius(4px);
	

//	@include background-image(linear-gradient(top, #816955, #603E22 90%, #4B3626));
	
//@include footer-gradient;
//@include minor-curl-effect;

//	-moz-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
//	-webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
//	box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
	position: relative;
//	background-color: #000;
//	border-bottom: 1px solid #4B3626;
//	padding: 5px 0 0px 0;
//	margin: 0 0px 10px 0px; 
	
//			background: #000 url(../images/temp/gradient4-bg.png) repeat-x left bottom;
//			padding: 10px 0 10px 10px;
	//		margin: 30px 0 50px;	
	
}
// Page Portlets

#portal-columns dl.portlet dt.portletHeader {
	border-bottom: solid 1px #666;
	border-right: solid 1px #666;
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
	margin: 0 0 0 2px;
	padding: 4px 10px;
	@include minor-curl-effect;
	@include border-radius(0px);
//	@include background-image(linear-gradient(left, #eaeaea, white 30%, white 70%, #dddddd)); 
	background:  url('../images/brushed metal.jpg') left center;
	
}
// Images
img.image-left, img.image-right, .captioned img {
	border: none;
}


// Foot Box
#foot-box {   
	@include footer-gradient;
//	@include head-ribbon-gradient;
	
	height: 200px;
	position: relative;  
	border: 2px solid #fff;
	@include border-top-radius(4px);
	
}
   
#foot-box dl.portlet dt.portletHeader, #foot-box .portletStaticText {
	border: none;
	margin: 0 0 0 0;
	padding: 10px 5px 5px 5px;
	background: none;
}

#foot-box .portletItem, #foot-box .portletStaticText {
}