/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/images";
@import "compass";
@import "treehouse";
@import "typography";

/* @group Base Structure */
body {
	@include wallpaper;
}

div.row {
	float: left;
	width: $page-width;
	display: block;
	position: relative;
	margin-top: 10px;
}

div.cell {
	position: relative;
	float: left;
	left: 100%;
}

#head-ribbon {
	@include banner-background;
	z-index: 100;
	position: fixed;
 	width: 100%;
 	height: $header-height;
  	margin: 0 auto;
}

#head-wrapper {
	@include head-wrapper-background;
	height: $header-height;
	margin-right: auto;
	margin-left: auto;
	width: $page-width;
	position: relative;
}

#logo-spacer {
	@include logo;
	margin-right: auto;
	margin-left: auto;
	width: $page-width;
	position: relative;
	top: 10px;
}

#divider {
	@include dropshadow-large;
	width: 100%;
	height: 15px;
	z-index: 100;
	position: fixed;
	top: $header-height;
	background-color: $divider-color;
	border-bottom: 2px solid $divider-bottom-border-color;
	border-top: 1px solid $divider-top-border-color;
}

#breadcrumbs {
	padding-left: 15px;
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#page-wrapper {
	margin-right: auto;
	margin-left: auto;
	width: $page-width;
	position: relative;
  	top: $header-height + 15px;
}

#page {
	@include dropshadow-large;
	@include rounded-page(bottom);
	width: 100%;
	background-color: $page-color;
	position: relative;
	z-index: 50;
}

#personal-tools {
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 15px;
}

dl.actionMenu {
    float: right;
    white-space: nowrap;
    position: relative;
    margin-left: 0;
    
}

#portal-personaltools.actionMenu {
    @include rounded(bottom);
	@include dropshadow-small;
	background: $translucent;
    position: relative;
	float: right;
	border: 1px solid #7aaefc;
	padding: 5px 1em 6px;
	dd {background-color: transparent;}
}

dl.actionMenu.activated dd {
	@include rounded(bottom);
    position: relative;
    width: auto;
    min-width: 99%;
	border: none;
}

#portal-personaltools dd a:hover {
	@include nav-rollover;
}

#title-ribbon {
	@include title-gradient;
	@include dropshadow-small;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #fea721;
	padding-top: 10px;
}

#content-area {
	position: relative;
	display: inline-block;
}

#foot-ribbon {
	@include title-gradient;
	@include dropshadow-small;
	width: 100%;
	height: 60px;
	position: relative;
	border-top: 1px outset #fea721;
}

#foot-box {
	@include foot-gradient;
	@include rounded-page(bottom);
	@include dropshadow-large;
	height: $footbox-height;
	position: relative;
	border: 1px solid #447fd3;
	width: 958px;
}

#foot-base {
	background: url(../images/foot-box.png);
	width: 100%;
	height: 180px;
	position: relative;
	top: -80px;
	z-index: 0;
}

/* @end */

/* @group Global Nav */
#menu {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
	left: 80px;
	position: absolute;
}

#menu ul li a.menu-item {
	padding-top: 5px;
}

#menu ul {
	float: left;
	margin: 0;
	padding: 5px 0px 0px;
	list-style: none;
}

#menu ul li a.menu-dropdown:hover, #menu li.top-level:hover, #portal-megamenu li.active a.menu-item {
	color: $link-hover-color;
	background: none;
}

#menu ul li a.menu-dropdown {
	display: block;
	width: 100%;
	height: 30px;
	text-decoration: none;
	text-align: center;
	border: none;
	background: none;
	padding-bottom: 5px;
}

#menu ul li span.arrowDownAlternative {
	visibility: hidden;
}

/* @end */

/* @group Portlets */
#drawer .portlet {
}

#drawer .portletLogin {
  background: url('../images/post_it_blue.jpg') left top no-repeat;
  height: 338px;
}

#drawer .portletLogin .portletHeader,
#drawer .portletLogin .portletItem {
    width: 300px;
    margin: 0 auto;
    padding: 0 auto;
    border: 0;
    background: transparent;
    text-align: center;
}

#drawer .portletLogin .portletHeader {
  padding-top: 60px;
}

#drawer .portletLogin .portletHeader a {
  font-size: 2em;
}
/* @end */


/* @group Navigation */

dl.portletNavigationTree {

}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
	padding: .5em 0em .5em 1em;
	border-bottom: 0.1em dotted #ddd;
    line-height: 2em;
    margin-right: -10px;

}

dl.portlet ul.navTree .navTreeCurrentItem, a.navTreeCurrentNode {
    background-color: $page-color;
	padding: .5em 2em .5em 2em;
	text-align: left;
    border-left: 0;
	border-right: 0;
	margin-left: -10px;
    margin-right: -10px;
}


dl.portlet ul.navTree li.navTreeCurrentNode {
	background-color: transparent;
    margin-left: -22px;
    margin-right: 0px;
	padding: 0em 0em 0em 0em;
	border-bottom: none;
	border-top: none;
	@include current-nav-shadow;
}

dl.portlet ul.navTree li.navTreeItem {
	margin-bottom: 0;

}

dl.portlet ul.navTree li a {
    border: none;
    display: block;
    zoom: 1;
    color: #797979;

}

dl.portlet ul.navTree li:hover > a {
	color: #fffeff !important;
}

li.navTreeCurrentNode {

}
.navTreeItem:not(.navTreeCurrentItem:hover, a .navTreeCurrentItem:hover){
	@include nav-rollover;
	@include shadow-box;
	
}

.navTreeItem:hover {
	@include nav-rollover;
	@include shadow-box;
}
/* @end */

/* @group portlet-columns */

#portal-column-two {
}

#portal-column-one {
	position: realitive;
	z-index: -0;
}

#portal-column-content {
	@include right-edge-shadow;
	padding-right: 10px;
	min-height: 400px;
	
}


/* @end */


.portletWrapper {
}

dl.portlet .portletHeader {
	border-top: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 2px;
		-moz-box-shadow: 0 2px 5px 0px #666666;
	-webkit-box-shadow: 0 2px 5px 0px #666666;
	box-shadow: 0 2px 5px 0px #666666;
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(39%,#cdeb8e), color-stop(62%,#a5c956), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* W3C */
}

dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
    padding: 1em;
	border-bottom: none;
	
}


/* @end */



/* @group typography */

#content a:link,
dl.portlet a:link {
    color: #074ba7;
    border-bottom: none;
}
#content a:hover,
dl.portlet a:hover {
    color: #105afc !important;
}

#page-title {
	text-decoration: none;
	color: #000;
	font: 3em "futura-pt-1","futura-pt-2";
	padding: 0px 10px 0px;
	text-transform: capitalize;
	font-weight: 500;
}

#page-description {
	padding-left: 10px;
	padding-bottom: 5px;
	color: #784208;
	font: italic 1em/1em "futura-pt-1","futura-pt-2",sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}


h2 {
	font: 2em "futura-pt-1","futura-pt-2",sans-serif;
	color: #424242;
	font-weight: 500;
	padding-top: 10px;
}

p, li, span, a, a.tile {
	font: 1em/1.5em "dejarip-1","dejarip-2",sans-serif;
	color: #424242;
}


#breadcrumbs {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 1px;
}

#breadcrumbs span.breadcrumbSeparator {
	color: #000;
	padding-right: 1px;
	padding-left: 1px;
}

#breadcrumbs-you-are-here {
	color: #000;
}

#breadcrumbs span a {
	color: #000;
}

#breadcrumbs span #breadcrumbs-current {
	color: #000;
}

#breadcrumbs span a:hover {
	color: #42f627;
}




#content .pullquote {
    margin: 0 .5em 0.5em 0.5em;
	font: italic 2em "p22-fllw-eaglefeather-1","p22-fllw-eaglefeather-2";
    float: right;
    width: 35%;
    clear: right;
    color: #000;
    letter-spacing: 0em !important;
    padding: 20px;
	border: 1px solid #AFD7FF;
	-moz-box-shadow: 0 2px 8px 0px #999999;
	-webkit-box-shadow: 0 2px 8px 0px #999999;
	box-shadow: 0 2px 8px 0px #999999;
background: rgb(175,215,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(175,215,255,1) 0%, rgba(122,174,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,215,255,1)), color-stop(100%,rgba(122,174,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(175,215,255,1) 0%,rgba(122,174,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(175,215,255,1) 0%,rgba(122,174,252,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(175,215,255,1) 0%,rgba(122,174,252,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd7ff', endColorstr='#7aaefc',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(175,215,255,1) 0%,rgba(122,174,252,1) 100%); /* W3C */}
/* @end */



/* @group Shadows */

.big-shadow {	
	-moz-box-shadow: 0 3px 20px 0px #000;
	-webkit-box-shadow: 0 3px 20px 0px #000;
	box-shadow: 0 3px 20px 0px #000;
}

.small-shadow {	
	-moz-box-shadow: 0 2px 8px 0px #000;
	-webkit-box-shadow: 0 2px 8px 0px #000;
	box-shadow: 0 2px 8px 0px #000;
}

.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.bottom-rounded {
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
  
}

.top-rounded {
-webkit-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
  
}

/* @end */


/* @group Gradients */

.black-button-gradient {
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, #000000 70%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(8%,#595959), color-stop(17%,#666666), color-stop(70%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #4c4c4c 0%,#595959 8%,#666666 17%,#000000 70%,#131313 100%); /* W3C */
}

.blue-button-gradient {
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(59%,#2989d8), color-stop(61%,#207cca), color-stop(100%,#8ebfe5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E5799', endColorstr='#8EBFE5',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #1e5799 0%,#2989d8 59%,#207cca 61%,#8ebfe5 100%); /* W3C */
}

.green-button-gradient {
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
}

.light-blue-gradient {
background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
}

.light-green-gradient {
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
}

.dark-gradient {
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
}

.dark-gradient-reverse {
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
}

.head-gradient {
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top, #000000 46%, #282828 76%, #494949 76%, #000000 78%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,#000000), color-stop(76%,#282828), color-stop(76%,#494949), color-stop(78%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #000000 46%,#282828 76%,#494949 76%,#000000 78%); /* W3C */
}



.orange-gradient {
background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(82%,#f8b500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f8b500',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 82%); /* W3C */
}
/* @end */

/* @group MegaMenu */
/* Menu rendering */

#collage ul.megamenu {
    /* To prevent margin-left in collage compose view */
    margin-left: 0;
    padding-left: 0;
}

#portal-megamenu {
    /* From Sunburst public.css: #portal-globalnav */
	margin: 0 0 1em 0; 
	padding: 0;
	float:left;
	width: 100%;
	list-style: none;
}
#portal-megamenu li.top-level {
	float: left;
	margin: 0; 
	position: relative;
	z-index: 500;
}

#portal-megamenu li a.menu-item {
	float: left; 
}
 
#portal-megamenu li.top-level .sub {
	position: absolute;	
	left: 0;
	float: left;
	display: none;
	z-index: 1000;
	background: none;

}
#portal-megamenu li .collage-row {
    clear: both; 
    float: left; 
    width: 100%; 
}

/* Reset width to auto for nested rows */
#portal-megamenu li .menu_view_nested-menu .collage-row {
    width: auto; 
}

#portal-megamenu .sub ul {
	list-style: none;
	float: left;
    width: 100%;
}


#portal-megamenu .sub ul li {
	width: 100%;
}

#portal-megamenu .sub ul li span {
	display: block;
    white-space: nowrap;
}

#portal-megamenu .sub ul li a {
	float: none; 
	height: auto;
	display: block;
    white-space: nowrap;

}

/* End Menu rendering */

/* Content layout */
#portal-megamenu ul li .megamenu-title {
    margin-bottom: 1em;
}

#portal-megamenu ul li .megamenu-content a {
    font-weight: bold;
    padding: 0;
    display: inline;
    white-space: normal;
}
#portal-megamenu ul li .megamenu-content a:hover {
    background: transparent;
    color: #205c90;
    text-decoration: underline;

}
#portal-megamenu ul li .megamenu-content p {
    color: black;
}

/* End Content layout */

/* Menu styling for Sunburst theme */

.actionicon-object_buttons-megamenu-enable, 
.actionicon-object_buttons-megamenu-disable {
    border-top: 2px solid white;
}

#portal-megamenu {
	font-size: 80%;
	background: none;
}

#portal-megamenu li a.menu-item {
	height: 41px;
	background: none;
	border-right: none;
	min-width: 0em;
	padding-right: 20px;
	padding-left: 0px;
}

#portal-megamenu li a.menu-item:hover {
    background: none;
}



#portal-megamenu li.top-level .sub {
	z-index: -0;
	top: 50px; 
	padding: 25px 15px 15px;
	border: none;
	border-left: 2px solid #0c7fd3;
	border-right: 2px solid #0c7fd3;
	border-bottom: 2px solid #0c7fd3;
	/*for old browsers*/
	background: black;
	/*-- rounded corner--*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*--Shadow--*/
	-moz-box-shadow: 0 8px 30px 0px #000;
	-webkit-box-shadow: 0 8px 30px 0px #000;
	box-shadow: 0 8px 30px 0px #000;
	/*--Gradient--*/
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(35,35,35,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(35,35,35,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(35,35,35,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(35,35,35,0.8) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(35,35,35,0.8) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cc232323',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(0,0,0,1) 0%,rgba(35,35,35,0.8) 100%); /* W3C */
}

#portal-megamenu li .collage-row {
    margin: 0 auto 10px;
}

#portal-megamenu li .collage-megamenu-hlines,
#portal-megamenu li .collage-megamenu-hvlines {
    border-bottom: 1px solid #ddd;
}

#portal-megamenu .sub ul {
	margin: 0 10px 10px 0; 
    padding: 0;
}

#portal-megamenu .sub .collage-megamenu-vlines>ul, 
#portal-megamenu .sub .collage-megamenu-hvlines>ul {
    border-left: 1px solid #ddd;
    margin-left: -10px;
    padding-left: 10px;
}

#portal-megamenu .sub .collage-megamenu-vlines>ul.collage-first-object, 
#portal-megamenu .sub .collage-megamenu-hvlines>ul.collage-first-object {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#portal-megamenu .sub ul li {
	color: #76797c;
}
/* MM Collage Page Title */
#portal-megamenu .sub ul li h2 {
	padding: 0;  
	margin: 0;
	font: 2em "futura-pt-1","futura-pt-2",sans-serif;
	width: 100%;
	color: #fea721;
}

/* MM Collage Page Description */
#portal-megamenu .sub ul li p.description {
	padding: 0;
}
#portal-megamenu .sub ul li p.description span, #portal-megamenu .sub ul li p {
	padding: 0;  
	margin: 0;
	width: 100%;
	color: #d5d5d5;
	font-family: 1em "futura-pt-1","futura-pt-2",sans-serif;
	font-style: italic;
	font-weight: normal;;
}

/* MM Page Text w/Link */
#portal-megamenu .sub ul li a {
	padding: 5px 0 5px 10px;
	text-decoration: none;
	color: #fff;
	width: 85%;
}

#portal-megamenu .sub ul li a.collage-megamenu-highlight {
    font-weight: bold;
}

#portal-megamenu .sub ul li a:hover {
	color: #000; 
	/*-- rounded corner--*/
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-bottom: 4px;
	/*-- gradient--*/
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(39%,#cdeb8e), color-stop(62%,#a5c956), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #cdeb8e 0%,#cdeb8e 39%,#a5c956 62%,#a5c956 100%); /* W3C */
}

#portal-megamenu .sub li.selected a {
    background: #ddd;
}

/* @group Page Slide */
#drawer {
  background: url(../images/corkboard.jpg) repeat-y right;
  position: fixed;
  width: 350px;
  left: -350px;
  top: 168px;
  bottom: 0px;
}

#drawer_tab {
  background: black;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
  box-shadow: 5px 5px 5px #666;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
  box-shadow: 5px 5px 5px #666;
  cursor:pointer;
  height:108px;
  left:0;
  overflow:hidden;
  position:fixed;
  text-indent:-5000px;
  top:40%;
  width:45px;
  z-index:100;
}

#drawer_nav {
    background:#ddd url(http://static.flowplayer.org/img/global/gradient/h300_reverse.png);
    border-bottom:1px solid #CCCCCC;
    height:56px;
    width:350px;
}

#drawer_nav ul {
    width: 325px;
    margin:0 auto;
}

#drawer_nav li {
    border-right:1px solid #ddd;
    float:left;
    padding-left:1px;
    width:75px;
    list-style-type:none;
    text-align:center;
    margin-top:0px;
}

#drawer_nav a {
    color:#333333;
    display:block;
    padding:17px;
    position:relative;
    word-spacing:-2px;
    font-size:11px;
    height:32px;
    text-decoration:none;
}

#drawer_nav a.current {
    background:url(http://static.flowplayer.org/tools/img/tabs/down_large.jpg);
}

#panes dl {
  display: none;
  position: absolute;
  top: 57px;
  left: 0px;
  width: 350px;
}

/* @end */

/* End Menu styling for Sunburst theme */




/* @end */

/* @group Carousel */

.carousel {
	margin: none;
	position: relative;
}

.carousel-text {
background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#99000000',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
}

.carousel-title {
	font: 2em "p22-fllw-eaglefeather-1","p22-fllw-eaglefeather-2";
	color: #fffeff;
}

.carousel-body p {
	color: #a9a9a9;
}

.carousel-pager {
	position: relative;
	float: right;
	margin-right: 2em;
	bottom: 55px;
}

a.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
    color: #447fd3;
    padding: 0.25em 0.5em;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 2px;
	background: transparent;
	border: 2px solid #447fd3;
}

a.carousel-pager-item.carousel-pager-item-active {
	color: #04f626; 
	border: 2px solid #04f626;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 2px;

}

.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active .carousel-title {
    color: black;
}
/* @end */

/* @group LiveSearch */
.LSResult {
  @include rounded_box;
  @include shadow_box;
  position: absolute;
  background: white;
  margin: 0px;
  width: 320px;
}
/* @end */
