/* line 20, ../../../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 10, ../sass/_typography.scss */
/* line 6, ../../sass/partials/old_css.scss */
a:link, a:visited {
  color: #4584fc;
}

/* line 14, ../sass/_typography.scss */
/* line 11, ../../sass/partials/old_css.scss */
a:hover, span:hover {
  color: #1040fb;
}

/* line 19, ../sass/_typography.scss */
/* line 16, ../../sass/partials/old_css.scss */
#portal-personaltools.actionMenu {
  font-size: 80%;
  color: #1184fc;
}

/* line 24, ../sass/_typography.scss */
/* line 21, ../../sass/partials/old_css.scss */
#portal-personaltools.actionMenu dd a:hover {
  color: black;
}

/* line 34, ../sass/_typography.scss */
/* line 27, ../../sass/partials/old_css.scss */
.navTreeItem a span {
  color: #999999;
}

/* line 39, ../sass/_typography.scss */
/* line 32, ../../sass/partials/old_css.scss */
dl.portlet ul.navTree .navTreeCurrentItem span {
  color: #333333;
}

/* line 43, ../sass/_typography.scss */
/* line 37, ../../sass/partials/old_css.scss */
.navTreeItem:hover > a span, .navTreeCurrentItem:hover span, a .navTreeCurrentItem:hover span {
  color: black;
}

/* line 46, ../sass/_typography.scss */
/* line 42, ../../sass/partials/old_css.scss */
.blog-item h1 a {
  font-size: 2em;
}

/* line 50, ../sass/_typography.scss */
/* line 47, ../../sass/partials/old_css.scss */
.blogItem .documentDescription {
  color: #666;
  margin-left: 0;
  font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}

/* @group Base Structure */
/* line 55, ../../sass/partials/old_css.scss */
div.row {
  float: left;
  width: 960px;
  display: block;
  position: relative;
  margin-top: 0px;
}

/* line 25, ../sass/screen.scss */
/* line 64, ../../sass/partials/old_css.scss */
div.cell {
  position: relative;
  float: left;
  left: 100%;
}

/* line 78, ../sass/screen.scss */
/* line 95, ../sass/screen.scss */
/* line 85, ../../sass/partials/old_css.scss */
#personal-tools {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 18px;
}

/* line 103, ../sass/screen.scss */
/* line 94, ../../sass/partials/old_css.scss */
dl.actionMenu {
  float: right;
  white-space: nowrap;
  position: relative;
  margin-left: 0;
}

/* line 101, ../../sass/partials/old_css.scss */
#portal-personaltools {
  z-index: 1;
}

/* line 111, ../sass/screen.scss */
/* line 105, ../../sass/partials/old_css.scss */
#portal-personaltools.actionMenu {
  border-bottom-radius: 4px;
  -moz-border-radius-bottom: 4px;
  -webkit-border-bottom-radius: 4px;
  -moz-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  float: right;
  border: 1px solid #7aaefc;
  padding: 5px 1em 6px;
}

/* line 119, ../sass/screen.scss */
/* line 119, ../../sass/partials/old_css.scss */
#portal-personaltools.actionMenu dd {
  background-color: transparent;
}

/* line 122, ../sass/screen.scss */
/* line 124, ../../sass/partials/old_css.scss */
dl.actionMenu.activated dd {
  border-bottom-radius: 4px;
  -moz-border-radius-bottom: 4px;
  -webkit-border-bottom-radius: 4px;
  position: relative;
  width: auto;
  min-width: 99%;
  border: none;
}

/* line 130, ../sass/screen.scss */
/* line 135, ../../sass/partials/old_css.scss */
#portal-personaltools dd a:hover {
  background: #ebf1f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* W3C */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* line 134, ../sass/screen.scss */
/* line 158, ../../sass/partials/old_css.scss */
#title-ribbon {
  background: #f9c667;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* W3C */
  -moz-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  width: 100%;
  position: relative;
  border-bottom: 1px solid #fea721;
  padding-top: 10px;
}

/* line 143, ../sass/screen.scss */
/* line 185, ../../sass/partials/old_css.scss */
#content-area {
  position: relative;
  display: inline-block;
}

/* line 148, ../sass/screen.scss */
/* line 191, ../../sass/partials/old_css.scss */
#foot-ribbon {
  background: #f9c667;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* W3C */
  -moz-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 60px;
  position: relative;
  border-top: 1px outset #fea721;
}

/* line 157, ../sass/screen.scss */
/* line 167, ../sass/screen.scss */
/* line 221, ../../sass/partials/old_css.scss */
#foot-base {
  background: url(../images/foot-box.png);
  width: 100%;
  height: 180px;
  position: relative;
  top: -80px;
  z-index: 0;
}

/* @end */
/* @group Global Nav */
/* line 198, ../sass/screen.scss */
/* @end */
/* @group Portlets */
/* line 232, ../sass/screen.scss */
/* line 240, ../../sass/partials/old_css.scss */
#drawer .portletLogin {
  background: url("../images/post_it_blue.jpg") left top no-repeat;
  height: 338px;
}

/* line 238, ../sass/screen.scss */
/* line 247, ../../sass/partials/old_css.scss */
#drawer .portletLogin .portletHeader,
#drawer .portletLogin .portletItem {
  width: 300px;
  margin: 0 auto;
  padding: 0 auto;
  border: 0;
  background: transparent;
  text-align: center;
}

/* line 247, ../sass/screen.scss */
/* line 257, ../../sass/partials/old_css.scss */
#drawer .portletLogin .portletHeader {
  padding-top: 60px;
}

/* line 251, ../sass/screen.scss */
/* line 262, ../../sass/partials/old_css.scss */
#drawer .portletLogin .portletHeader a {
  font-size: 2em;
}

/* @end */
/* @group Navigation */
/* line 263, ../sass/screen.scss */
/* line 269, ../../sass/partials/old_css.scss */
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  padding: .5em 0em .5em 1em;
  border-bottom: 0.1em dotted #ddd;
  line-height: 2em;
  margin-right: -10px;
}

/* line 271, ../sass/screen.scss */
/* line 277, ../../sass/partials/old_css.scss */
dl.portlet ul.navTree .navTreeCurrentItem, a.navTreeCurrentNode {
  background-color: white;
  padding: .5em 2em .5em 2em;
  text-align: left;
  border-left: 0;
  border-right: 0;
  margin-left: -10px;
  margin-right: -10px;
}

/* line 282, ../sass/screen.scss */
/* line 288, ../../sass/partials/old_css.scss */
dl.portlet ul.navTree li.navTreeCurrentNode {
  background-color: transparent;
  margin-left: -22px;
  margin-right: 0px;
  padding: 0em 0em 0em 0em;
  border-bottom: none;
  border-top: none;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
}

/* line 292, ../sass/screen.scss */
/* line 301, ../../sass/partials/old_css.scss */
dl.portlet ul.navTree li.navTreeItem {
  margin-bottom: 0;
}

/* line 297, ../sass/screen.scss */
/* line 306, ../../sass/partials/old_css.scss */
dl.portlet ul.navTree li a {
  border: none;
  display: block;
  zoom: 1;
  color: #797979;
}

/* line 305, ../sass/screen.scss */
/* line 314, ../../sass/partials/old_css.scss */
dl.portlet ul.navTree li:hover > a {
  color: #fffeff !important;
}

/* line 312, ../sass/screen.scss */
/* line 319, ../../sass/partials/old_css.scss */
.navTreeItem:not(.navTreeCurrentItem:hover, a .navTreeCurrentItem:hover) {
  background: #ebf1f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* W3C */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
}

/* line 318, ../sass/screen.scss */
/* line 345, ../../sass/partials/old_css.scss */
.navTreeItem:hover {
  background: #ebf1f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  /* W3C */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
}

/* @end */
/* @group portlet-columns */
/* line 329, ../sass/screen.scss */
/* line 373, ../../sass/partials/old_css.scss */
#portal-column-one {
  position: realitive;
  z-index: 0;
}

/* line 334, ../sass/screen.scss */
/* line 379, ../../sass/partials/old_css.scss */
#portal-column-content {
  -webkit-box-shadow: 10px 0px 15px -15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 0px 15px -15px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 0px 15px -15px rgba(0, 0, 0, 0.6);
  padding-right: 10px;
  min-height: 400px;
}

/* @end */
/* line 348, ../sass/screen.scss */
/* line 389, ../../sass/partials/old_css.scss */
#page dl.portlet .portletHeader {
  border-top: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 2px;
  -moz-box-shadow: 0 2px 5px 0px #666666;
  -webkit-box-shadow: 0 2px 5px 0px #666666;
  box-shadow: 0 2px 5px 0px #666666;
  background: #cdeb8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(39%, #cdeb8e), color-stop(62%, #a5c956), color-stop(100%, #a5c956));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%, #cdeb8e 39%, #a5c956 62%, #a5c956 100%);
  /* W3C */
}

/* line 369, ../sass/screen.scss */
/* line 419, ../../sass/partials/old_css.scss */
#page dl.portlet dd.portletItem,
#page dl.portlet dd.portletFooter,
#page dl.portletError dd {
  padding: 1em;
  border-bottom: none;
}

/* @end */
/* @group typography */
/* line 383, ../sass/screen.scss */
/* line 429, ../../sass/partials/old_css.scss */
#content a:link,
dl.portlet a:link {
  color: #074ba7;
  border-bottom: none;
}

/* line 388, ../sass/screen.scss */
/* line 436, ../../sass/partials/old_css.scss */
#content a:hover,
dl.portlet a:hover {
  color: #105afc !important;
}

/* line 392, ../sass/screen.scss */
/* line 441, ../../sass/partials/old_css.scss */
#page-title {
  text-decoration: none;
  color: #000;
  font: 3em "futura-pt-1","futura-pt-2";
  padding: 0px 10px 0px;
  text-transform: capitalize;
  font-weight: 500;
}

/* line 401, ../sass/screen.scss */
/* line 451, ../../sass/partials/old_css.scss */
#page-description {
  padding-left: 10px;
  padding-bottom: 5px;
  color: #784208;
  font: normal 1.25em/1em "futura-pt-1", "futura-pt-2", sans-serif;
}

/* line 411, ../sass/screen.scss */
/* line 424, ../sass/screen.scss */
/* line 462, ../../sass/partials/old_css.scss */
#breadcrumbs {
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 1px;
}

/* line 430, ../sass/screen.scss */
/* line 469, ../../sass/partials/old_css.scss */
#breadcrumbs span.breadcrumbSeparator {
  color: #000;
  padding-right: 1px;
  padding-left: 1px;
}

/* line 436, ../sass/screen.scss */
/* line 476, ../../sass/partials/old_css.scss */
#breadcrumbs-you-are-here {
  color: #000;
}

/* line 440, ../sass/screen.scss */
/* line 481, ../../sass/partials/old_css.scss */
#breadcrumbs span a {
  color: #000;
}

/* line 444, ../sass/screen.scss */
/* line 486, ../../sass/partials/old_css.scss */
#breadcrumbs span #breadcrumbs-current {
  color: #000;
}

/* line 448, ../sass/screen.scss */
/* line 491, ../../sass/partials/old_css.scss */
#breadcrumbs span a:hover {
  color: #42f627;
}

/* line 455, ../sass/screen.scss */
/* line 496, ../../sass/partials/old_css.scss */
#content .pullquote {
  margin: 0 .5em 0.5em 0.5em;
  font: italic 2em "p22-fllw-eaglefeather-1","p22-fllw-eaglefeather-2";
  float: right;
  width: 35%;
  clear: right;
  color: #000;
  letter-spacing: 0em !important;
  padding: 20px;
  border: 1px solid #AFD7FF;
  -moz-box-shadow: 0 2px 8px 0px #999999;
  -webkit-box-shadow: 0 2px 8px 0px #999999;
  box-shadow: 0 2px 8px 0px #999999;
  background: #afd7ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd7ff), color-stop(100%, #7aaefc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afd7ff', endColorstr='#7aaefc',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #afd7ff 0%, #7aaefc 100%);
  /* W3C */
}

/* @end */
/* @group Surveys */
/* line 531, ../../sass/partials/old_css.scss */
#edit_form h2.questionTitle label {
  font: normal 1em "futura-pt-1","futura-pt-2",sans-serif;
  color: #424242;
}

/* @end */
/* @group Shadows */
/* line 482, ../sass/screen.scss */
/* line 542, ../../sass/partials/old_css.scss */
.big-shadow {
  -moz-box-shadow: 0 3px 20px 0px #000;
  -webkit-box-shadow: 0 3px 20px 0px #000;
  box-shadow: 0 3px 20px 0px #000;
}

/* line 488, ../sass/screen.scss */
/* line 549, ../../sass/partials/old_css.scss */
.small-shadow {
  -moz-box-shadow: 0 2px 8px 0px #000;
  -webkit-box-shadow: 0 2px 8px 0px #000;
  box-shadow: 0 2px 8px 0px #000;
}

/* line 494, ../sass/screen.scss */
/* line 556, ../../sass/partials/old_css.scss */
.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* line 499, ../sass/screen.scss */
/* line 562, ../../sass/partials/old_css.scss */
.bottom-rounded {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 509, ../sass/screen.scss */
/* line 572, ../../sass/partials/old_css.scss */
.top-rounded {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* @end */
/* @group Gradients */
/* line 524, ../sass/screen.scss */
/* line 584, ../../sass/partials/old_css.scss */
.black-button-gradient {
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(8%, #595959), color-stop(17%, #666666), color-stop(70%, black), color-stop(100%, #131313));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, black 70%, #131313 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #4c4c4c 0%, #595959 8%, #666666 17%, #000000 70%, #131313 100%);
  /* W3C */
}

/* line 535, ../sass/screen.scss */
/* line 604, ../../sass/partials/old_css.scss */
.blue-button-gradient {
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(59%, #2989d8), color-stop(61%, #207cca), color-stop(100%, #8ebfe5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E5799', endColorstr='#8EBFE5',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #1e5799 0%, #2989d8 59%, #207cca 61%, #8ebfe5 100%);
  /* W3C */
}

/* line 546, ../sass/screen.scss */
/* line 624, ../../sass/partials/old_css.scss */
.green-button-gradient {
  background: #bfd255;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
  /* W3C */
}

/* line 557, ../sass/screen.scss */
/* line 644, ../../sass/partials/old_css.scss */
.light-blue-gradient {
  background: #f2f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f5f6), color-stop(37%, #e3eaed), color-stop(100%, #c8d7dc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* W3C */
}

/* line 568, ../sass/screen.scss */
/* line 664, ../../sass/partials/old_css.scss */
.light-green-gradient {
  background: #cdeb8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  /* W3C */
}

/* line 579, ../sass/screen.scss */
/* line 684, ../../sass/partials/old_css.scss */
.dark-gradient {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, black 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, black 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #45484d 0%, #000000 100%);
  /* W3C */
}

/* line 590, ../sass/screen.scss */
/* line 704, ../../sass/partials/old_css.scss */
.dark-gradient-reverse {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, black 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, black 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #45484d 0%, #000000 100%);
  /* W3C */
}

/* line 601, ../sass/screen.scss */
/* line 724, ../../sass/partials/old_css.scss */
.head-gradient {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, black), color-stop(76%, #282828), color-stop(76%, #494949), color-stop(78%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, black 46%, #282828 76%, #494949 76%, black 78%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #000000 46%, #282828 76%, #494949 76%, #000000 78%);
  /* W3C */
}

/* line 614, ../sass/screen.scss */
/* line 744, ../../sass/partials/old_css.scss */
.orange-gradient {
  background: #fceabb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceabb), color-stop(50%, #fccd4d), color-stop(82%, #f8b500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb', endColorstr='#f8b500',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 82%);
  /* W3C */
}

/* @end */
/* @group MegaMenu */
/* Menu rendering */
/* line 629, ../sass/screen.scss */
/* @group Page Slide */
/* line 883, ../sass/screen.scss */
/* line 892, ../sass/screen.scss */
/* line 774, ../../sass/partials/old_css.scss */
#drawer_tab {
  cursor: pointer;
  height: 140px;
  overflow: hidden;
  position: fixed;
  text-indent: -5000px;
  top: 40%;
  width: 90px;
  z-index: 100;
  display: none;
  background: transparent url("../images/binderClip.png") no-repeat left center;
  left: 0;
  margin-left: -24px;
}

/* line 789, ../../sass/partials/old_css.scss */
#drawer_tab:hover {
  background: transparent url("../images/binderClipRollover.png") no-repeat left center;
}

/* line 917, ../sass/screen.scss */
/* line 924, ../sass/screen.scss */
/* line 954, ../sass/screen.scss */
/* @end */
/* End Menu styling for Sunburst theme */
/* @end */
/* @group Carousel */
/* line 973, ../sass/screen.scss */
/* line 806, ../../sass/partials/old_css.scss */
.carousel {
  margin: none;
  position: relative;
}

/* line 978, ../sass/screen.scss */
/* line 812, ../../sass/partials/old_css.scss */
.carousel-text {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#99000000',GradientType=1 );
  /* IE6-9 */
  background: linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* W3C */
}

/* line 988, ../sass/screen.scss */
/* line 830, ../../sass/partials/old_css.scss */
.carousel-title {
  font: 2em "p22-fllw-eaglefeather-1","p22-fllw-eaglefeather-2";
  color: #fffeff;
}

/* line 993, ../sass/screen.scss */
/* line 836, ../../sass/partials/old_css.scss */
.carousel-body p {
  color: #a9a9a9;
}

/* line 997, ../sass/screen.scss */
/* line 841, ../../sass/partials/old_css.scss */
.carousel-pager {
  position: relative;
  float: right;
  margin-right: 2em;
  bottom: 55px;
}

/* line 1006, ../sass/screen.scss */
/* line 851, ../../sass/partials/old_css.scss */
a.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
  color: #447fd3;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 2px;
  background: transparent;
  border: 2px solid #447fd3;
}

/* line 1017, ../sass/screen.scss */
/* line 863, ../../sass/partials/old_css.scss */
a.carousel-pager-item.carousel-pager-item-active {
  color: #04f626;
  border: 2px solid #04f626;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 2px;
}

/* line 1029, ../sass/screen.scss */
/* line 875, ../../sass/partials/old_css.scss */
.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active .carousel-title {
  color: black;
}

/* @end */
/* @group LiveSearch */
/* line 1035, ../sass/screen.scss */
/* line 884, ../../sass/partials/old_css.scss */
.LSResult {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.6);
  position: absolute;
  background: white;
  margin: 0px;
  width: 320px;
}

/* @end */
/* @group Drawr */
/* line 904, ../../sass/partials/old_css.scss */
#drawer {
  background: url(../images/corkboard.jpg) repeat-y right;
  position: fixed;
  width: 350px;
  left: -350px;
  top: 80px;
  bottom: 0px;
  border-right: 1px solid #6d6969;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 917, ../../sass/partials/old_css.scss */
#panes {
  position: relative;
  padding-top: 20px;
}

/* line 922, ../../sass/partials/old_css.scss */
#drawer_nav {
  height: 40px;
  width: 100%;
  position: relative;
  padding: 0 0 5px 0;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: -10px 0px 20px black;
  background: #e5e5e5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  /* W3C */
  border-bottom: 1px dashed gray;
}

/* line 943, ../../sass/partials/old_css.scss */
#drawer_nav ul {
  width: 100%;
  height: 100%;
  padding: 0 0 5px 5px;
}

/* line 929, ../sass/screen.scss */
/* line 950, ../../sass/partials/old_css.scss */
#drawer_nav li {
  float: left;
  width: 24%;
  height: 40px;
  list-style-type: none;
  border-right: thin solid white;
  border-left: thin solid white;
  margin-right: auto;
  margin-left: auto;
}

/* line 939, ../sass/screen.scss */
/* line 950, ../sass/screen.scss */
/* line 965, ../../sass/partials/old_css.scss */
#drawer_nav a.current {
  height: 50px;
  -moz-box-shadow: 0px 0px 7px 0 black;
  -webkit-box-shadow: 0px 0px 7px 0 black;
  box-shadow: 0px 0px 7px 0 black;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f3c5bd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3c5bd), color-stop(50%, #e86c57), color-stop(51%, #ea2803), color-stop(75%, #ff6600), color-stop(100%, #c72200));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  /* W3C */
  overflow: visible;
  color: yellow;
  text-transform: uppercase;
}

/* line 989, ../../sass/partials/old_css.scss */
#drawer_nav a.current img {
  margin-bottom: -10px;
}

/* line 995, ../../sass/partials/old_css.scss */
#drawer_nav a {
  height: 30px;
  color: black;
  position: relative;
  text-decoration: none;
  font-family: 1em "futura-pt-1","futura-pt-2",sans-serif;
  padding: 7px 5px 5px 5px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
}

/* line 1010, ../../sass/partials/old_css.scss */
#drawer dl.portlet dt {
  background: url("../images/pushpin.png") no-repeat 50% top transparent;
  min-height: 40px;
  position: relative;
  bottom: 25px;
}

/* line 1017, ../../sass/partials/old_css.scss */
#drawer dl.portlet dt h2 {
  padding-top: 25px;
}

/* @end */
/* @group Effects */
/* @group Page Curl */
/* line 1026, ../../sass/partials/old_css.scss */
#drawer dl.portlet {
  position: relative;
  width: 90%;
  background: #fefcea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcea), color-stop(100%, #f1da36));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #fefcea 0%, #f1da36 100%);
  /* W3C */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* line 1043, ../../sass/partials/old_css.scss */
#drawer dl.portlet:before,
#drawer dl.portlet:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 1061, ../../sass/partials/old_css.scss */
#drawer dl.portlet:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* @end */
/* @group Speech Bubbles */
/* THE SPEECH BUBBLE --------------------------------------- */
/* line 1073, ../../sass/partials/old_css.scss */
div.member .tooltip {
  display: none;
  text-align: left;
  font-size: 12px;
  z-index: 100001;
  position: relative;
  padding: 15px;
  margin: 1em 0 3em 50px;
  border: 2px solid #0c7fd3;
  /*	color:#333;*/
  background: #fff;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-left: 2px solid #0c7fd3;
  border-right: 2px solid #0c7fd3;
  border-bottom: 2px solid #0c7fd3;
  /*for old browsers*/
  background: black;
  /*--Shadow--*/
  -moz-box-shadow: 0 5px 20px 0px #000;
  -webkit-box-shadow: 0 5px 20px 0px #000;
  box-shadow: 0 0px 20px 0px #000;
  /*--Gradient--*/
  background: -moz-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(35, 35, 35, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, black 0%, rgba(35, 35, 35, 0.8) 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#cc232323',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #000000 0%, rgba(35, 35, 35, 0.8) 100%);
  /* W3C */
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */
/* Variant : left
------------------------------------------ */
/* creates the larger triangle */
/* line 1123, ../../sass/partials/old_css.scss */
div.member .tooltip:before {
  content: "";
  position: absolute;
  top: 20px;
  /* controls vertical position */
  bottom: auto;
  left: -20px;
  /* value = - border-left-width - border-right-width */
  border-width: 10px 20px 10px 0;
  border-style: solid;
  border-color: transparent #0c7fd3;
  /* reduce the damage in FF3.0 */
  /*    display:block; */
  width: 0;
}

/* creates the smaller  triangle */
/* line 1138, ../../sass/partials/old_css.scss */
div.member .tooltip:after {
  content: "";
  position: absolute;
  top: 20px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom: auto;
  left: -20px;
  /* value = - border-left-width - border-right-width */
  border-width: 10px 20px 10px 0;
  border-style: solid;
  border-color: transparent;
  /* reduce the damage in FF3.0 */
  /*    display:block; */
  width: 0;
}

/* @end */
/* @group post-it bubbles */
/* line 1156, ../../sass/partials/old_css.scss */
div#drawer div dd.portletItem {
  position: relative;
  bottom: 25px;
  padding-top: 0;
}

/* line 1163, ../../sass/partials/old_css.scss */
div.post-type-form, .portletMyContentPortlet div.contents-block {
  display: none;
  padding: 5px 0 0;
  background: transparent;
  margin-bottom: 0;
  border: none;
}

/* line 1171, ../../sass/partials/old_css.scss */
ul#my-content-tabs, ul#post-types {
  height: 30px;
  border-bottom: 1px solid orange;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 3px;
}

/* line 1180, ../../sass/partials/old_css.scss */
ul#post-types li, ul#my-content-tabs li {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  border-bottom: none;
}

/* line 1189, ../../sass/partials/old_css.scss */
ul#post-types li a:hover, ul#my-content-tabs li a:hover {
  background: #f9c667;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* W3C */
  color: #fff !important;
}

/* line 1210, ../../sass/partials/old_css.scss */
ul#my-content-tabs a, ul#post-types li a {
  font: 400 20px "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  display: block;
  text-decoration: none;
  background-color: transparent;
  position: relative;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: orange;
  border: 1px dotted orange;
  padding: 5px 10px;
}

/* line 1227, ../../sass/partials/old_css.scss */
ul#my-content-tabs a.current, ul#post-types li a.current {
  position: relative;
  color: black;
  background: #f9c667;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* W3C */
  opacity: 1;
  border: none;
  border-bottom: 1px solid orange;
}

/* line 1252, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem {
  height: 100%;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #fefeba;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px 0;
}

/* line 1262, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem.expanded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */
}

/* line 1277, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem.expanded .MyContent_title {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 1282, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem.expanded .MyContent_title a {
  color: white;
}

/* line 1286, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem div.show_hide {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 1291, ../../sass/partials/old_css.scss */
div.tileItem div.show_hide img:hover {
  background: yellow;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 1303, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem div.MyContent_title a {
  font-size: 12px;
  color: black;
}

/* line 1308, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem.expanded .MyContent_title a:hover {
  color: yellow !important;
}

/* sliding div */
/* line 1314, ../../sass/partials/old_css.scss */
div.sliding_div div.MyContent_edit, div.sliding_div div.MyContent_delete {
  padding-top: 3px;
  width: 16px;
  margin-left: 5px;
}

/* line 1321, ../../sass/partials/old_css.scss */
div.sliding_div div.MyContent_delete:hover, div.sliding_div div.MyContent_edit:hover {
  background: yellow;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 1329, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem div.sliding_div {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 1335, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem div.sliding_div div {
  float: right;
  padding-right: 0px;
  padding-left: 0px;
}

/* quick-post form */
/* line 1343, ../../sass/partials/old_css.scss */
#portlet-quickPost input#form-widgets-title {
  width: 70%;
  text-align: left;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 1350, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.tileItem div.sliding_div form#review_state_form {
  float: left;
  margin-right: 0;
  margin-left: 10px;
}

/* line 1356, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.inner dd.portletItem ul li {
  margin-bottom: 10px;
}

/* line 1360, ../../sass/partials/old_css.scss */
dl#portlet-MyContent div.inner dd.portletItem ul {
  margin-top: 10px;
}

/* @end */
/* @end */
/* @group jquery buttons */
/* line 1367, ../../sass/partials/old_css.scss */
.ui-buttonset {
  margin-right: 7px;
}

/* line 1371, ../../sass/partials/old_css.scss */
.my_content_radio input {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 1375, ../../sass/partials/old_css.scss */
form#review_state_form, .ui-button .ui-button-text {
  display: block;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #333;
}

/* line 1383, ../../sass/partials/old_css.scss */
.ui-button-text-only .ui-button-text {
  padding: 5px 10px;
}

/* line 1386, ../../sass/partials/old_css.scss */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}

/* line 1388, ../../sass/partials/old_css.scss */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

/*Active Button*/
/* line 1391, ../../sass/partials/old_css.scss */
label.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  font-weight: normal;
  border: none;
  color: #ffffff;
  -moz-box-shadow: inset 0 1px 5px black;
  -webkit-box-shadow: inset 0 1px 5px black;
  box-shadow: inset 0 1px 5px black;
  background: #9dd53a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(50%, #a1d54f), color-stop(51%, #80c217), color-stop(100%, #7cbc0a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* W3C */
}

/*Default button*/
/* line 1409, ../../sass/partials/old_css.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  font-weight: normal;
  color: #ffffff;
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C */
}

/*hover button*/
/* line 1424, ../../sass/partials/old_css.scss */
label.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: none;
  font-weight: normal;
  color: #444444;
  background: #9dd53a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(50%, #a1d54f), color-stop(51%, #80c217), color-stop(100%, #7cbc0a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  /* W3C */
}

/* line 1438, ../../sass/partials/old_css.scss */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 1443, ../../sass/partials/old_css.scss */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #448dae;
  background: #dddddd url(images/ui-bg_flat_75_dddddd_40x100.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #444444;
}

/* @end */
/* @group TinyMCE */
/* line 1455, ../../sass/partials/old_css.scss */
.ploneSkin table, .ploneSkin tbody, .ploneSkin a, .ploneSkin img, .ploneSkin tr, .ploneSkin div, .ploneSkin td, .ploneSkin iframe, .ploneSkin span, .ploneSkin *, .ploneSkin .mceText {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  white-space: normal !important;
  text-decoration: none;
  font-weight: normal;
  cursor: default;
  color: Black;
  vertical-align: baseline;
  width: auto;
  border-collapse: separate;
  text-align: left;
}

/* @end */
