/*
Syntax error: Undefined mixin 'minor-curl-effect'.
        on line 2 of /opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss, in `minor-curl-effect'
        from line 2 of /opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss

1: /opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss

Backtrace:
/opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss:2:in `minor-curl-effect'
/opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss:2
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
org/jruby/RubyKernel.java:2063:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2336:in `collect'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
org/jruby/RubyKernel.java:2063:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2336:in `collect'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
org/jruby/RubyKernel.java:2063:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
org/jruby/RubyKernel.java:2063:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/tree/root_node.rb:20:in `render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/engine.rb:291:in `_render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/engine.rb:239:in `render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/util.rb:298:in `silence_sass_warnings'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/sass-3.1.2/lib/sass/engine.rb:239:in `render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:133:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:119:in `timed'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:132:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/logger.rb:45:in `red'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:131:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:111:in `compile_if_required'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:98:in `run'
org/jruby/RubyArray.java:1602:in `each'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:96:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:119:in `timed'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/compiler.rb:95:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/commands/watch_project.rb:142:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:268:in `call'
org/jruby/RubyProc.java:228:in `call'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:73:in `run_callback'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:55:in `callback_action'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:35:in `update'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1602:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:37:in `modified'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:18:in `refresh'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyArray.java:1602:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyKernel.java:1419:in `loop'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/polling.rb:15:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/monitor.rb:26:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm.rb:20:in `monitor'
src/compass_patch.rb:37:in `perform'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/commands/base.rb:18:in `execute'
/Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.3/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:376:in `watch'
org/jruby/RubyProc.java:268:in `call'
org/jruby/RubyProc.java:232:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'minor-curl-effect'.\A         on line 2 of /opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss, in `minor-curl-effect'\A         from line 2 of /opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss\A \A 1: /opt/vPlone-4.1/Plone-4.1/src/plonetheme.healthlens/plonetheme/healthlens/theme/healthlens/sass/partials/plone-products.scss"; }
